[2015-09-26 18:20] lorenzo-pasa opened #2 "Impossible to install via pip - no links on PyPI page"
When trying to install Voc as suggested in the documentation:
[code]
an error is raised:
[code]
The version of pip is not really the problem (it doesn't work with pip 6.1.1 nor with pip 7.1.2).
Trying to install it with the verbose option leads to the probable root cause:
[code]
The root cause is probably the page https://pypi.python.org/simple/voc/, being it completely blank.

[2015-09-27 17:18] Foxboron commented on #2
You can do `pip install git+https://github.com/pybee/voc.git`

[2015-09-27 23:01] lorenzo-pasa commented on #2
Yes, it works =)
At least, finding the problem gave me the opportunity to create a pull request to update the README file.
Of course that pull request doesn't really close this issue, imho.
The links on PyPI page are still missing.

[2015-09-29 00:42] #2 closed

[2015-09-29 00:43] freakboy3742 commented on #2
Thanks for the report - I've fixed it by pushing a v0.0.1 initial release to PyPI.

[2015-10-01 15:17] freakboy3742 opened #13 "Use a single Java session for tests"
The current test runner validates Java output by starting a fresh VM for every test. However, JVM warmup is time-expensive operation.

Ideally, we'd be able to use a single JVM instance, and run each test in that instance, rather than restarting the JVM each time.

If necessary, this could be done on a per-TestCase or per test Module level.

[2015-10-01 15:40] freakboy3742 opened #14 "Add Stack Maps to generated Java classfiles"
Java 7 added the requirement for a Stack Map to track usage of the stack during operation. The Java 7 JVM validates this Stack Map at startup.

voc doesn't currently generate Stack Maps, and as a result, it is necessary to use -XX:-UseSplitVerifier argument to the JVM.

I believe there is sufficient information in the data model to generate Stack Maps - it's just matter of doing the work.

[2015-10-01 15:50] freakboy3742 opened #16 "Add documentation"
'nuff said. :-)

Anything would be better than just the README.

[2015-10-22 13:30] Alex-Bogdanov commented on #2
I have encountered this problem trying to install any other package from PyPi (requests, pip, jsonschema).
    python34 -m pip install -U pip==7.1.2
    Collecting pip==7.1.2
    Could not find a version that satisfies the requirement pip==7.1.2 (from versions: )
    No matching distribution found for pip==7.1.2

Anybody knows what a hell is that? It reproduced for Python 3.4.1 and now for 3.4.3.

[2015-10-23 00:16] freakboy3742 commented on #2
@Alex-Bogdanov This seems to be more of a problem with your use of pip, rather than voc. I can't see anything obviously wrong with your usage, and the command you've provided works for me. If it's not a transient problem caused by a temporary PyPI outage, I'd suggest taking this to the PyPA people and getting their feedback.

[2015-12-04 22:57] freakboy3742 opened #36 "Complete implementation of operations on standard types"
Java has a specific set of allowed operator and operations. Python has a set of operators and operations as well. However, the two don't match exactly. For example, Java will allow any object to be added to a `java.lang.String`; Python does not. On the other hand, Python allows multiplication of `str` by `int` (producing a duplicated string); Java does not.

In order to replicate Python behavior i

[2015-12-04 22:57] freakboy3742 commented on #36
When you submit a PR for this, prefix the PR message with "Refs #34", so it will be associated with this ticket.

[2015-12-04 23:26] freakboy3742 opened #38 "Complete implementation of methods on standard types"
The builtin types of Python have a number of methods associated with them - for example, `dict` objects have `update()`, `items()`, `keys()`, `pop()` and so on. These methods need to be implemented in Java. In many cases, there will be a simple mapping to an analogous function in the underlying Java type; however, sometimes you'll need to write an implementation using the available Java primitives

[2015-12-19 10:11] TalSkverer commented on #38
Hi there, first timer here, trying to help :smile:

I'm working on the `dict` builtin type, but I've got a encountered problems and I need some assistance:
1. `dict` functions like `pop()`, `get()` can get an additional, optional value to be returned on default, yet the Java functions only have one argument. Is this correct? Could another optional argument be added?
2. Should I add my tests to `Di

[2015-12-19 10:55] freakboy3742 commented on #38
Hi Tal! Thanks for offering to help out!

To answer your questions:
1. Implementing optional parameters is a little odd, but it is definitely possible. The best way to explain how it works is probably to look at an example - the builtin function [`range()`](https://github.com/pybee/voc/blob/master/python/common/org/Python.java#L1026). Range can take 1, 2 or 3 arguments; the `@method()` declaration

[2015-12-19 11:41] TalSkverer commented on #38
Gotcha, thanks for the quick response!
Cricket looks amazing, I will use that! :+1:
It's not an error I'm getting, but I am unsure where the get the python support library binaries, and Google was not helpful

[2015-12-19 11:43] beingshahul commented on #38
Try running `ant java` in the root directory of the project which has the build xml file.

[2015-12-19 13:02] TalSkverer commented on #38
Alright, everything working and I'm on to it, thanks for the help!
One last question: I'm getting a funny behavior while testing __len__:
[code]
Running the test I get the following error:
[code]
It seems that the Java out has flipped the order unlike the Python out, though this can be overlooked since built-in dictionaries aren't supposed to keep items' order.
The test is passing fine using an em

[2015-12-20 03:58] freakboy3742 commented on #38
This is one of those things that is going to fall under "feature, not bug" :-)

Python dictionaries are unsorted data structures, so their order isn't guaranteed. This is something that regularly bites the Django test suite - it's trivially easy to write a test that depends on a dictionary being processed in a particular order, but moving from a 32 bit to a 64 bit machine can (and thats "can", not

[2015-12-24 15:46] TalSkverer commented on #38
So I've managed to implement most of the methods, but I still have some left and I need assistance.
1. There are few functions (like `__class__`, `__delattr__`, `__getattribute__`) that appear in `dir({})`, but not in the Dict.java class. Is this for a reason or should I add them by myself?
2. The function `__format__`: The format_spec should be defined one time, globally, and then re-used in ever

[2015-12-27 02:44] freakboy3742 commented on #38
1. `__class__` is an an attribute, not a method; it should be automatically populated in the `obj.attrs` HashMap on the Java object instance as part of object construction. `__delattr__` and `__getattribute__` are both methods that *should* be defined on the base `org.python.types.Object` definition. In both cases, you're the first person looking closely at getting a type to 100% Python compliance

[2015-12-30 12:08] freakboy3742 opened #59 "Use a hidden name for python functions"
If you define a method in Python, VOC will potentially generate three Java-side methods to represent that method:
- A _binding_ method, representing the Java interface to the method. This will be typed using the specific types annotated in the Python code
- A _super_ method, with the same prototype as the binding, but explicitly invoking the super.method()
- The _Implementation_, representing the

[2016-01-21 07:33] freakboy3742 opened #74 "Implement the Python standard library"
Python has a sizeable standard library. It is this standard library the provides a lot of the power of Python as a language.

Much of this standard library is implemented in Python, and could be converted into a Jar file using VOC. VOC's build system should be modified to perform this conversion.

Other parts of the standard library are implemented in C, and will require re-implementation in Java.

[2016-01-21 07:33] freakboy3742 commented on #74
Stubs of the sys and time modules already exist; they can be used as a template when adding new modules.

[2016-01-21 07:37] freakboy3742 opened #75 "Use type information to optimize code paths"
VOC currently assumes all arguments are instances of objects implementing `org.python.Object`. This makes the compiler easy to write, but it requires conversions from and to object form of primitive data types.

In some cases, however, type information is available for parameters. This type information could be used to optimize code paths. For example, if we know an argument is an integer, and is

[2016-01-21 07:44] freakboy3742 opened #76 "Complete implementation of Python builtins"
`org.Python` is a Java implementation of all the Python builtins - methods like `print()`, `input()`, `list()`, `abs()`, `min()` and so on.

An implementation of these builtins is required.

[2016-01-30 04:05] ankush981 opened #81 "Links to other documents not working"
If we look at the Getting Started document, towards the end we have what looks like a broken link:  :doc:`start the first tutorial </tutorials/tutorial-0>`. I tried to modify it to GitHub relative link format as given [here](https://help.github.com/articles/relative-links-in-readmes/) but couldn't get it right. How are these to be fixed?

[2016-01-30 04:32] ankush981 commented on #81
Ah, I realize this might be the 'Read the Docs' format. Does that mean we leave it like this here?

[2016-01-30 11:33] freakboy3742 commented on #81
It's Sphinx format, not something specific to Read the Docs, but yes. Sphinx is a set of extensions to ReStructuredText that provides rich indexing, and output to formats other than HTML. Unfortunately, Github supports ReST, but not Sphinx, so the doc pages look a little crusty if you view them in GitHub - but luckily, RTD exists if you want to browse documentation.

[2016-01-30 11:33] #81 closed

[2016-01-30 14:35] freakboy3742 commented on #76
See also [Ouroborous](https://github.com/pybee/ouroborous), a related project to develop a standalone, pure python version of the standard library. Ideally, it should be possible to use Ouroboros to generate the builtins and standard library.

[2016-01-30 14:35] freakboy3742 commented on #74
See also [Ouroborous](https://github.com/pybee/ouroborous), a related project to develop a standalone, pure python version of the standard library. Ideally, it should be possible to use Ouroboros to generate the builtins and standard library.

[2016-02-02 15:48] ankush981 commented on #36
Folks, I'm picking up the `test_unary_positive` test in `tests/test_str.py`. Please don't work on it so that we can avoid collisions! :smile:

[2016-02-06 16:12] ankush981 commented on #36
I forgot to mention, I'll be doing all the unary operator tests for String. Please stay away -- they're mine! :stuck_out_tongue_closed_eyes:

[2016-02-07 13:56] ankush981 commented on #36
Hello, people. I'll be picking up the following tests for string types:

[code]

[2016-03-11 12:01] cflee commented on #36
I'm working through the Int class' unary and binary operations.

[2016-03-15 14:09] cflee commented on #13
I tried tweaking the TieredCompilation and TieredStopAtLevel options on the [Java HotSpot VM](http://docs.oracle.com/javase/8/docs/technotes/guides/vm/performance-enhancements-7.html) but a rough test showed it was at best equal, and usually worse than without those options.

I was also looking at [Drip](https://github.com/ninjudd/drip) as well, which looks very interesting, but I'm not sure if it

[2016-03-15 14:21] freakboy3742 commented on #13
Very interesting results - I certainly wouldn't complain about an order of magnitude speedup!

The test failures you're seeing definitely look interesting - from a quick inspection, it looks like something odd is happening to the class hierarchy, because some classes are being identified as "native module" when they should just be "class". That suggests to me that something is happening to the cla

[2016-03-15 16:20] cflee commented on #13
I'm still working on getting the classloader to reliably reload/unload the classes without spawning a new thread, but there's something interesting I observed about the transpiled classes - they don't seem to be runnable twice. Is it also an issue that needs to be fixed on the Java end, or is it expected?

[code]

Test is the standard println-hello-world Java class. I observed this earlier with na

[2016-03-15 16:51] cflee commented on #13
Oops, that's actually just the default classloader finding the `python.test.__init__` class before the custom classloader gets to have a go! You're absolutely right, it works with embarrassingly few lines of code.

Now to figure out how to link this into utils.py.

[2016-03-16 08:52] cflee commented on #13
Okay, so now there is a small program that instantiates a ClassLoader to load a class from the tests/temp/ directory, and invoke its main() method, based on the class name supplied from stdin.

Compared against the earlier figures:

[code]

It's still 68 failures, probably the same tests. I did have to skip the `tests.stdlib.test_sys.test_exit` as it was causing the test runner to hang, haven't lo

[2016-03-17 02:36] freakboy3742 commented on #13
Awesome - great work.

I've taken a look at the test failures - it looks like it might be a problem loading related classes. Most of the simple tests only need a single main test class; however, the more complex tests generate more than one class, and they all need to be present for the test to run. Many of the test failures you're seeing would be consistent with not being able to find those suppo

[2016-03-17 12:18] cflee commented on #13
It seems that `Type.pythonType()` needs to have access to the runtime/transpiled classes as well, but it wasn't able to find them. This is because the `org.python.types.Type` class was loaded by the default app classloader from `java -classpath`, but the other classes are loaded by the separate classloader.

Loading the jar at runtime for each test works, but it's is too slow. Keeping another URLC

[2016-03-18 09:06] mzwaen commented on #36
Hi! I'm working on the data type Boolean, starting with comparison methods.

[2016-03-18 16:33] cflee commented on #13
Okay, it's down to [2 failures](https://travis-ci.org/cflee/voc/builds/116945024), running in 10-11 min on Travis. Part of it was getting ImportLib to use the "current" classloader instead of the previous-test-run one, and clearing the static cache of classes that ImportLib was holding onto. Those two items were causing very strange errors where tests only worked the first time, if their underlyin

[2016-03-20 02:52] cflee commented on #13
I think there are two ways to deal with the argv issue. We can fallback to the individual JVM invocation when there are args passed in. Otherwise, we can find a way to get the value from the main method's `String[] args` instead of `System.getProperty("sun.java.command")`, but that seems decidedly non-trivial. I guess it depends on how often the tests will have command line args.

[2016-03-21 04:57] #13 closed

[2016-03-21 14:29] cflee opened #102 "Improve Java test runner"
Currently, the improved Java test runner (refs: issue #13, PR #98) uses a single JVM that runs the `python.testdaemon.TestDaemon` class, to execute the various transpiled classes in `tests/utils.py`'s `runAsJava()` and `assertJavaExecution()`. Class names are fed in via stdin, and the resulting output is retrieved from stdout. For each test, the main Thread's ContextClassLoader is set to a new Joi

[2016-03-21 14:43] khoobks commented on #36
I'm working through the List class

[2016-03-24 08:56] cflee commented on #76
Where should the tests for these go? I was looking at adding tests for `abs(x)`, `bool(x)` for Int but I'm not sure if that should go into `test_int.IntTests`, or go into a new type of TestCase in `utils.py`.

[2016-03-24 15:31] freakboy3742 commented on #76
I think an entirely new test module is called for - something to parallel datatypes, stdlib and structures. There's probably enough tests for each method that `test_abs.py` containing AbsTests, `test_bool.py` containing BoolTests etc wouldn't be excessive.

[2016-03-24 16:16] cflee commented on #76
I'm trying to figure out how comprehensive the tests are meant to be, since that affects how they should be defined. I quite like how the current UnaryOperationTestCase, etc are 'generating' all the possible combinations in a compact format, without cluttering up the individual test files. It means that we humans won't accidentally miss something out when implementing, particularly a strange edge/

[2016-03-24 16:39] freakboy3742 commented on #76
For functions that take a single argument, I can see this being a good idea; however, it's going to get out of control pretty quickly once you move into functions with multiple arguments - if only because the multi-argument functions all have different combinations of arguments.

If you can put together a variant of UnaryOperationTestCase that can validate the simple, single argument methods (the

[2016-03-25 06:33] khoobks commented on #36
I'm working through the Tuple class

[2016-03-26 08:18] cflee commented on #76
I've implemented `bool()`, but am having some issues getting the correct type names to generate the TypeError message in `org.Python.abs()`. Looking through the codebase, it usually is obtained via `x.typeName()` or `org.python.types.Type.pythonType(x.getClass())` where `x` is an `org.python.Object`.

This works perfectly fine for all the basic types like `dict` but it breaks for defined python cl

[2016-03-27 09:30] cherub96 commented on #36
Hello, I'll be picking up the byte class.

[2016-03-28 12:10] cflee commented on #76
@freakboy3742 - Also, I'm running into another strange issue:
[code]

I'm getting the longer form on both Python 3.4.2 and 3.4.4 on OS X, while the shorter form is what comes out [on Travis CI](https://travis-ci.org/cflee/voc/builds/118954700).

[2016-04-03 06:48] cflee commented on #38
I was looking at implementing the `NotImplemented -> TypeError` bit in `COMPARE_OP`, but just to make sure I'm on the right track - this is where the ['reflected operations'](https://docs.python.org/3/reference/datamodel.html#object.__lt__) need to be dealt with right?

Or in other words, should the `COMPARE_OP` Python opcode be where we check if `y` is a subclass of `x` (but not the same class),

[2016-04-04 08:41] elitalobo commented on #36
Hello I am working on Int class (power and xor)

[2016-04-06 00:53] freakboy3742 commented on #16
Fantastic! The `/docs` directory already has a basic structure set up; it just needs content.

The best starting point I can think of at this point is a topic guide describing the interaction between Java classes and Python - how do you implement a Java interface, subclass a Java class, and so on.

[This code](https://gist.github.com/freakboy3742/3c6b74e8506d47d9bd97) is an example of an Android a

[2016-04-09 13:21] cherub96 commented on #14
@freakboy3742 Can you please brief more on this. As in how are the stack maps to be implemented?

[2016-04-10 01:22] freakboy3742 commented on #14
Stack Map Frames are part of the [Java Virtual Machine Specification](https://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.10.1.4). They're a description of the state of the virtual machine stack at various points in the execution of the codebase.

The VOC compiler develops a partial representation of the VM stack as part of compiling to Java; if it were to gather a little more da

[2016-04-20 03:24] gopar commented on #16
Where would the doc file for the code sample go? Would it just be under the `docs` direcotry? Under what file name would you like to be under? Thanks! \o/

[2016-04-23 07:48] freakboy3742 commented on #16
@gopar Depends what sort of guide you intend to write. There are a couple of high level sections already set up in the docs:

* **intro** - Documentation for the first interaction with the project - general introductions, explanations and guides to getting an environment working
* **tutorials** - Step by step guides, intended as the first mini-project(s) that the user will run
* **howto** - Step b

[2016-04-24 01:01] freakboy3742 opened #123 "Error in test suite when running under Python 3.4.4"
Via Kesha Shah:
The CI server runs under Python 3.4.2, and is (usually) in a fully passing state.

However, if you run the test suite under Python 3.4.4, you will get 3 test failures:
[code]

It appears that Python 3.4.4 changed the error message raised by `int()` when invalid input is provided. Under 3.4.2, you get:
[code]

However under Python 3.4.4, you get:
[code]

VOC should standardise on th

[2016-04-24 04:13] keshashah commented on #123
Thanks @freakboy3742 for creating this issue on my behalf.

[2016-04-26 23:11] gopar commented on #123
Is this issue still open? Looks like the PR is merged

[2016-04-26 23:46] freakboy3742 commented on #123
@gopar Well spotted - this was fixed in 499cd51

[2016-04-26 23:46] #123 closed

[2016-04-30 22:13] Tharbad opened #129 "Python to java"
Hi,

I'm just trying to help. In a recent search for a friend I've found the following projects:
1) https://github.com/chrishumphreys/p2j - Code converter. Old but worked at some point.
2) https://www.py4j.org/index.html - Allows python code to access jvm objects
3) https://github.com/LeeKamentsky/python-javabridge/ - Same as 2.
4) https://github.com/originell/jpype - Allows python to call java co

[2016-05-01 00:36] freakboy3742 commented on #129
Thanks for those links - however, you may want to [read our FAQ](http://voc.readthedocs.io/en/latest/intro/faq.html), because those projects are taking a completely different approach to what VOC is doing.

VOC isn't a code converter - it operates at the bytecode level. It compiles Python bytecode *directly* to a Java class file. There is no intermediate "Java source code" version of the project.

[2016-05-01 00:36] #129 closed

[2016-05-26 03:08] ncoghlan opened #132 "CPython 3.6+ is switching to a 16-bit wordcode format"
This is an early heads up that CPython will be switching to a 16-bit wordcode format as of 3.6a2: http://bugs.python.org/issue26647

The change itself is in https://hg.python.org/cpython/rev/3a57eafd8401

In theory this should be a transparent change for any project that interacts with compiled code solely through the `dis` module, but since VoC transpiles CPython bytecode I figured you may want t

[2016-05-26 03:26] freakboy3742 commented on #132
Thanks for the heads up @ncoghlan. I noticed this go past on python-dev, and assumed it was going to have a pretty big effect, although I hadn't dug into the details yet. Was going to ask around in Portland in a couple of days time.

Are the changes to bytecode format documented, or does this fall into the same "it's documented that it's undocumented, to discourage people from tinkering" hole that

[2016-05-26 03:26] freakboy3742 commented on #132
Worth noting that this will affect Batavia, as well.

[2016-05-26 03:38] freakboy3742 commented on #132
There is also a problem with CPython 3.5: the `BUILD_MAP` code changed the order the operands are processed.

[2016-06-01 21:14] ericatkin commented on #36
I'm working on next builtin.

[2016-06-02 17:16] katlings commented on #36
I'm going to work on multiplying some data structures (`test_multiply_*`), starting with str, float, and list

[2016-06-02 18:34] ericatkin opened #135 "try/except doesn't create variable for named exceptions"
[code]

[code]

[2016-06-02 18:36] ericatkin opened #136 "try/except inside for loop doesn't initialize jump_offset in find_try_except"
[code]

[code]

[2016-06-02 19:51] julisi commented on #36
I'm attempting InplaceStrOperationTests 'test_add_int'

[2016-06-03 16:25] julisi commented on #36
I'm now attempting BinaryStrOperationTests 'test_subscr_class'

[2016-06-03 23:24] encukou commented on #36
Please reserve `float` for me until Sunday, June 5th.

[2016-06-14 04:41] #135 closed

[2016-06-14 05:12] freakboy3742 commented on #135
Thanks @ericatkin for the report and the very helpful test case.

[2016-06-14 13:22] lurch opened #168 "Typos on http://pybee.org/voc/"
It says `$ python -m voc tests/example.py org.pyee` when I'm guessing it should be `$ python -m voc tests/example.py org.pybee`

The "fork the code" at the bottom links to https://github.com/freakboy3742/voc instead of https://github.com/pybee/voc

[2016-06-14 17:11] sjoerdjob opened #171 "for/else is not supported"
After some experimenting, I ran into a case where the transpiler gives an error.

[code]

This is as far as I could get to a minimal (non-)working example. Replacing the `print` with `pass` makes it get optimised out by Python already, so the transpiler works.

[2016-06-14 18:16] sjoerdjob commented on #171
Never mind. I saw that there's a test-case for it, but it is commented out.  Does it make sense to replace the comment-markers with an `expectFailure` decoration instead? That way it shows up in the test-run as a todo.

[2016-06-15 05:19] freakboy3742 commented on #171
Thanks for the report, and sorry for the confusion. Yes, it would probably make sense for that test to be marked as an expected failure; I've certainly done that with some other tests. If you want to submit a pull request for this, I'll gladly merge it!

[2016-06-15 05:20] #168 closed

[2016-06-19 14:05] #136 closed

[2016-06-28 08:41] Manishearth commented on #171
This was done in https://github.com/pybee/voc/commit/9877c3652206bde636b6d540d70a3eff54e7587f

[2016-07-04 01:02] ericatkin opened #183 "abbreviated names (from imports) not allowed in class `implements` arg"
[code]
vs
[code]

This is apparently also an issue for type annotations on function arguments and return types.

[2016-07-08 15:45] soummyaah opened #186 "Adding a linter to travis"
A linter needs to be added to travis, one that if possible, reports non-compliance the same way that a test failure reports - "tests passed", but "Python lint failed on file:<>"

[2016-07-09 00:06] freakboy3742 commented on #186
For context: This came out of a conversation with @soummyaah on a ticket. Ideally the result wouldn't come up *as* a test failure, but as a separate pre-commit report in GitHub.

[2016-07-12 18:59] jshipley commented on #171
I've spent some time looking at this, and I'd like to try to fix it. I've learned how it's supposed to work in python bytecode, I just need to learn how to put that into voc and translate it to java bytecode.

Every SETUP_LOOP has a POP_BLOCK at the end. Currently, the POP_BLOCK doesn't do much, but it should be used start the "else" clause or to jump past the "else" clause if the loop was termina

[2016-07-12 19:14] sjoerdjob commented on #171
Yes, I have also spent some time looking into this, and I believe your assumptions are correct.

What I did see is that determining the full extent of the loop can be quite complicated, especially for a `while True` loop, which the current approach does not fully recognize (correctly). I would be happy to review some testcases.

[2016-07-13 01:42] freakboy3742 commented on #171
Fantastic! And congratulations on jumping knee deep into bytecode wrangling :-)

The area where you'll be digging is `voc/python/utils.py`, and in particular the `ForLoop` structure, and the `find_blocks()` and `extract_command()` methods.

When you give VOC a code block, it unpacks all the bytecode into individual instructions, then works backward from the last instruction, finding "sets" of inst

[2016-07-13 03:36] jshipley commented on #171
I don't want to create a PR yet, but here are the new test cases I have in my fork: https://github.com/jshipley/voc/commit/5c0265727e884f3a42d765ccc0e504cbfc368a42

[2016-07-13 19:38] sjoerdjob commented on #171
@jshipley. I saw that in the for-else testcase you don't print anything. This means that not that much is tested.

The while testcases look good.

[2016-07-14 04:01] jshipley commented on #171
This problem also affects while loops. On a deeper level, there seems to be some more general issues with nested blocks. A try/except inside a try/except/finally, for example also fails.

To handle more complex cases, the utils.find_blocks function will probably need to use a block stack.

[2016-07-17 10:48] AnneTheAgile commented on #36
All my background in integer binary calculations is stale. It seems like the int / shift functions might be a good place to start, but are there handy docs online with the specs for binary math done by java?
ty!
Anne
via PyGotham curiosity about PyBee coins and great lecture on Python for Android/iOS.

[2016-07-17 13:45] freakboy3742 commented on #36
@AnneTheAgile Most of the operations for int have been implemented, except for those related to types that aren't fully defined (complex, bytearray, etc). There's a couple missing (or buggy) for floor divide, true divide and inline multiplication.

You can see the operations that are "missing" by looking at a test file (like ( https://github.com/pybee/voc/blob/master/tests/datatypes/test_int.py)[t

[2016-07-19 12:47] Perlence commented on #171
@jshipley Not all while loops have `POP_BLOCK`. For example, the bytecode of your `test_while_forever` lacks one.

[2016-07-19 14:09] freakboy3742 commented on #171
I'm starting to think that the "decompiling" approach for bytecode might be the wrong approach. As @perlence notes, there is potential for ambiguity (or, at least, extremely difficult decompiling decisions).

Perhaps a better approach might be to use the AST (which knows exactly what the compiled grammar is), and use that to generate equivalent Java bytecode. This would mean rewriting a whole lot

[2016-07-19 16:13] sjoerdjob commented on #171
I tend to agree. However if we could get a hold of the bytecode that gets generated before the peephole optimizer passes over it, a lot of the ambiguities would also disappear. However, research into this led to a thread on python-dev without any final decision.

[2016-07-19 17:44] jshipley commented on #171
I haven't gotten very deep into planning how to recognize blocks and track them with a block stack. I was reading that every SETUP_LOOP had a POP_BLOCK. If that's not actually true (or if the optimizer makes it untrue), then it may be difficult to accurately identify blocks.

It may indeed be much cleaner to work from the AST. In a way, VOC is already trying to parse the bytecode into an AST--for

[2016-07-19 23:11] jshipley commented on #171
On the other hand:

using the AST rather than the bytecode would eliminate any optimizations that the compiler does, and when I run the code from test_while_forever through `dis.dis()` I do see a POP_BLOCK statement at offset 51.

[2016-07-20 06:32] Perlence commented on #171
@jshipley That's very strange. I checked it against Python 3.4.2.

<details>
<summary>Source code</summary>
[code]
</details>

<details>
<summary>Disassembly of while_forever</summary>
[code]
</details>

[2016-07-20 15:17] jshipley commented on #171
OK, yeah. I'm running python 3.4.4.

I guess that it will be necessary to decompile everything in 3.4.2 as well when I'm planning/testing everything for this.

[2016-07-21 15:27] gholder commented on #36
Going to try the str  inline right shift operator

[2016-07-21 15:36] gholder commented on #36
nevermind.  Already done in vox.
Trying float_eq_list

[2016-07-21 17:14] gholder commented on #36
Trying float_ne_list

[2016-07-21 19:50] jambonrose commented on #186
Hi Russ,
I'm planning to take a crack at this (if someone is already working on this, please stop me!). I plan to:

- add [flake8](https://pypi.python.org/pypi/flake8) to `requirements/test.txt`
- fix any linting problems (the hard part)
- add a command to `.travis.yml` which runs flake8, and which exits with an error in the event the linter fails

I would also like to add [isort](https://pypi.pyt

[2016-07-21 19:58] mygitplace opened #199 "most tests fail on Windows7"
1. JVM doesn't start:
File "voc\tests\utils.py", line 500, in runAsJava
self.jvm.stdin.flush()
OSError: [Errno 22] Invalid argument
2. File write failed:
File "env\lib\encodings\cp1251.py", line 19, in encode
UnicodeEncodeError: 'charmap' codec can't encode character '\xff' in position 678: character maps to <undefined>

[2016-07-21 21:15] jambonrose commented on #186
Scratch the post above.

After a conversation between @freakboy3742 and @ldanilov the answer appears to be to use [pybee/beefore](https://github.com/pybee/beefore). Details forthcoming.

[2016-07-22 13:26] freakboy3742 commented on #186
As @jambonrose indicated, I've been working on pybee/beefore to address this. Beefore needs a few more checks, though:
 * a java linter
 * isort
 * a spell checker for docs
 * a check that docs compile without error

There is also the task of working through all the *existing* code to get it to a lint-less state.

[2016-07-22 16:02] harisibrahimkv commented on #36
Working on `test_list.InplaceListOperationTests.test_add_tuple`.

[2016-07-22 16:04] datnamer opened #202 "Type annotations to improve performance"
Can type annotations be optionally used to improve performance if enforced at runtime, or the program is strictly analyzed at compile time?

Either for this or any of the other projects.

[2016-07-22 18:46] MarkusH commented on #202
This is possibly a duplicate of #75

[2016-07-22 19:41] MarkusH opened #207 "dict structure not working on Python 3.5. Presumably due to bytecode change."

[2016-07-23 18:02] freakboy3742 commented on #202
As @MarkusH notes, this is a duplicate of #75; but yes, optimisation of this kind is a distinct possibility. However, getting the base language working first is the priority.

[2016-07-23 18:02] #202 closed

[2016-07-28 21:19] soummyaah opened #212 "Args not defined for inbuilt methods"
For most of the methods, args have not been defined, which leads to the following problem.

5*6 is executed succesfully
However, 5.**mul**(6) throws an error. For every method, the args need to be defined.

The stack trace for:

[code]

Comes out to be:

[code]

The operators are checked, however the underlying methods throw an error.
This arose in a conversion with @cflee
He suggested to bridge t

[2016-07-29 15:32] aftalavera opened #214 "Implement the CALL_FUNCTION_KW opcode"
I keep getting this error: AttributeError: module 'voc.python.opcodes' has no attribute 'CALL_FUNCTION_KW'.

[2016-07-30 16:18] freakboy3742 commented on #214
@aftalavera CALL_FUNCTION_KW is one of the Python opcodes; the error has been raised because support for that opcode hasn't been implemented yet.

Changing the ticket title to reference the cause of the problem.

[2016-07-30 16:49] aftalavera commented on #214
Thanks for the answer how can I help?

On Jul 30, 2016 11:18 AM, "Russell Keith-Magee" <notifications@github.com>
wrote:

[2016-07-30 17:38] freakboy3742 commented on #214
@aftalavera The best contribution you could make at the moment is to formalise the test case that causes this failure. [`tests/structures/test_function.py`](https://github.com/pybee/voc/blob/master/tests/structures/test_function.py) contains a bunch of examples for function invocation, but clearly the case that causes the `CALL_FUNCTION_KW` opcode to be used isn't being invoked. If you can create

[2016-07-31 13:57] cflee commented on #199
@mygitplace is this issue resolved by #200?

[2016-07-31 15:09] mygitplace commented on #199
yes, these 2 above were resolved in #200, there still other issues with Windows

[2016-07-31 20:38] skimbrel commented on #36
Working on `test_list.test_subtract_slice`.

[2016-08-02 06:51] aftalavera commented on #214
I noticed a third case CALL_FUNCTION_VAR. Need an example as well?

[2016-08-14 23:47] DylanGraham commented on #36
Looking at BinaryStrOperationTests.test_modulo_bool

[2016-08-15 00:30] thefon commented on #36
Looking at `test_bytes`

[2016-08-15 00:33] thefon commented on #36
Looking at test_bytes

[2016-08-15 02:28] kamikai commented on #36
I'll be working on `set`'s behaviour.

[2016-08-15 23:16] mithro opened #231 "SyntaxError: Non-ASCII character '\xc3' in file /home/tansell/foss/pybee/voc/tests/utils.py on line 628, but no encoding declared; see http://www.python.org/peps/pep-0263.html for details"
[code]

[2016-08-15 23:17] mithro opened #232 "AttributeError: 'module' object has no attribute 'test_codecs'"
[code]

[2016-08-15 23:19] mithro opened #233 "README.rst should have a "quick start for the impatient" type section (and link to the offline docs?)"
Opening a web link to read the getting started docs is kind of a pain (and doesn't work if I've already gone offline).

[2016-08-15 23:26] mithro commented on #232
[code]

[2016-08-15 23:27] mithro commented on #233
Would even be better to have a `quickstart.sh` script :)

[2016-08-15 23:39] mithro commented on #232
The solution seems to be in https://voc.readthedocs.io/en/latest/internals/contributing.html#setting-up-your-development-environment

[2016-08-16 01:43] AnthonyBriggs opened #237 "Issues when trying to run tests on Windows"
(This is on Windows 8.1; I imagine similar issues appear on other Windows systems)

I've had a try at running the tests under Windows, the main failure that I run into seems to be related to the default encoding under Windows (cp1252 rather than utf-8):

`E   AssertionError: 'utf-8' codec can't decode byte 0xff in position 10: invalid start byte`

This seems to be an issue on both the Java and Pyt

[2016-08-16 05:49] DylanGraham commented on #36
I'm now looking at InplaceListOperationTests.test_multiply_list

[2016-08-16 09:43] freakboy3742 commented on #231
This is caused by using Python 2 instead of Python 3. The README and the Getting Started Guide both indicate that Python 3.4 is required; but if you think this message needs additional reinforcement, please submit some suggested text as a PR.

[2016-08-16 09:43] #231 closed

[2016-08-16 09:44] freakboy3742 commented on #232
Closing on the basis that the contribution guide already covers this.

[2016-08-16 09:44] #232 closed

[2016-08-18 13:28] DylanGraham commented on #36
Looking at __iadd__ for bytes on a List

[2016-08-19 14:16] thefon commented on #36
Bytes is pretty much done.  I can also do ByteArray since that's a clone of Bytes.

[2016-08-20 04:52] #132 closed

[2016-08-20 04:53] freakboy3742 commented on #171
This should now be a lot easier to implement - the need to reverse engineer structure from bytecode has been replaced by using the AST directly. This makes a lot of structures much easier to handle.

[2016-08-20 05:24] thefon commented on #36
Bytes is done.  I can also do ByteArray since that's a clone of Bytes.

[2016-08-21 07:57] souravsingh commented on #74
@freakboy3742 I would like to work in the issue

[2016-08-22 02:08] freakboy3742 commented on #74
@souravsingh Fantastic! Do you need any pointers or suggestions, or do you feel confident tackling this on your own?

[2016-08-22 13:02] AnthonyBriggs commented on #237
I've been (slowly) chasing this up this evening, and making some progress through judicious commenting-out of exception handlers :) This is more of an infodump than anything, but might be helpful.

Commenting out the first exception handler in assertCodeExecution (lines 345/346), reveals that it's `runAsJava` that's throwing the dodgy string, specifically

    `line = self.jvm.stdout.readline().de

[2016-08-22 13:12] AnthonyBriggs commented on #237
**Update:** it seems like I can recreate that specific error, but by writing a file out as *UTF-16*, and then back as UTF-8 (see attached script). Perhaps the Windows Java does this by default on Windows?

In any case, it's progress, and late here, so I'll pick this up later if it's still open.

[2016-08-22 15:39] souravsingh commented on #74
@freakboy3742 I just wanted to ask- We have to create Python library similar to Ouroboros, right?

[2016-08-23 01:04] freakboy3742 commented on #237
You might be on to something with the UTF-16/8 thing. Internally, Java's string format uses an odd format called [MUTF-8](https://en.wikipedia.org/wiki/UTF-8#Modified_UTF-8). The key feature of MUTF-8 is an odd way of encoding nulls.

I'm not sure why this would be manifesting on console output, and only on Windows - but it's worth some investigation.

[2016-08-23 01:16] freakboy3742 commented on #74
Ouroboros aims to be a full, pure-python version of the Python standard library (or, as much as is plausible), with a clearly delineated interface where platform-specific modules are required (e.g., to make system calls).

I know this ticket is on VOC; but the ideal contribution would be to improve Ouroboros, because then *any* Python implementation can use it. The VOC component will then be just

[2016-08-23 05:33] sideffect0 opened #245 "Asyncio & common patterns like `with` is missing"
`with` and `async/await` is missing

 `raise NotImplementedError('No handler for With')`

[2016-08-25 05:29] sideffect0 commented on #245
@freakboy3742 need an http client also

[2016-09-06 16:12] nisdop opened #249 "Python exceptions cant be raised."
I have a problem with exception raises.

1.Cant raise exception by class name.
[code]
[code]

2.Cant raise instance of exception without arguments
[code]
[code]

[2016-09-07 05:39] freakboy3742 commented on #249
Thanks for your report. The first one doesn't surprise me, but the second one does.

If you're looking to contribute, this could be relatively easy place to begin. Encoding these two cases as test cases that are known failing tests will be a 5-10 line patch; actually fixing these problems will require a bit more digging, but would give you a good introduction to the internals of VOC.

[2016-09-08 01:47] freakboy3742 commented on #214
This should now be fixed by moving to an AST-based compilation approach.

[2016-09-08 01:47] #214 closed

[2016-09-08 01:48] freakboy3742 commented on #212
This is fairly simple to do, it's just labour intensive - if you're interested in doing this, get in touch and I can give you some pointers.

[2016-09-08 01:49] freakboy3742 commented on #207
This should be corrected by the move to AST-based compilation.

[2016-09-08 01:49] #207 closed

[2016-09-13 10:52] nisdop commented on #249
I'm working on it.

[2016-09-17 03:44] #249 closed

[2016-09-21 07:30] wesseljb opened #253 "Install issue on Ubuntu 16.04 libpython3.4-testsuite"
Hi,
I'm in the process of installing the dev environment for VOC and when I tried to install 3.4 and got the following error

[code]

I had to run the following command to fix it:

[code]

[2016-09-21 07:35] freakboy3742 commented on #253
Confirmed - the instructions were written for Ubuntu 14.04 (or 12.04... I can't remember :-). 16.04 needs the adjustment described.

[2016-09-21 07:42] wesseljb commented on #253
I am going to try and make the changes and then do a pull request

On 21 September 2016 at 09:35, Russell Keith-Magee <notifications@github.com

[2016-09-21 08:03] wesseljb commented on #253
I logged a pull request, hope that is fine.

On 21 September 2016 at 09:42, Wessel Badenhorst <wesselj@gmail.com> wrote:

[2016-09-23 09:28] nisdop opened #255 "Custom exception raising."
It is now possible to raise only exceptions from package org.python.exceptions. So for raise custom python exception there are 2 option:
1) Rebuild java-python-support.jar with your exception.
2) Write on java exception proxy-class.

[2016-09-27 05:22] freakboy3742 commented on #255
Thanks for the report! Confirmed, and a test added.

[2016-10-08 00:01] Melvie commented on #212
I'd like to take a crack at this bug ! Any advice/guidance would be awesome !

[2016-10-10 06:56] #253 closed

[2016-10-10 07:00] wesseljb commented on #38
I would love to begin contributing code, any where I should start?

[2016-10-10 15:04] freakboy3742 commented on #38
@wesseljb We've got a [Guide for first time contributors](http://pybee.org/contributing/first-time/) on our website; if you've been there, and you've come to this ticket looking for specific advice on a builtin method to implement, I would suggest taking a look at the Str type. There are a bunch of simple methods on String dealing with case manipulation and so on, which should be fairly approachab

[2016-10-10 17:28] wesseljb commented on #38
Thank you, I will look at the methods on string.

On 10 October 2016 at 17:04, Russell Keith-Magee <notifications@github.com>
wrote:

[2016-10-12 17:13] manparvesh opened #270 "Update python version requirement to 3.5+"
Please update the python version requirement to 3.5+ instead of 3.4+.
It took me a lot of time to figure this out, since I had Python 3.5.2 installed on my system and still, while installing VOC, I got error message saying:
`VOC requires Python 3.4+`
This was resolved once I changed this in the `setup.py` file.

[2016-10-12 23:49] freakboy3742 commented on #270
As noted on #271, it's not quite as simple as just updating a version reference; there a fundamental differences between Python 3.4, 3.5 and 3.6.

If you're particularly invested in Python 3.5, merging the work from the master branch into the 3.5 branch and making whatever adjustments are required would be deeply appreciated.

I'll keep this ticket open as a flag for Python 3.5+ support.

[2016-10-13 03:01] manparvesh commented on #270
I understand. I would go through this again properly in that case.

[2016-10-14 09:51] brechtm commented on #270
This breaks installation of briefcase, even though my use case doesn't require VOC (creating a macOS .app)!

[2016-10-14 10:07] brechtm commented on #270
Installation from wheel is still possible. You might want to perform this check on import of voc instead.

[2016-10-18 12:34] italomaia commented on #36
I'll handle the missing multiply operations:

[code]

[2016-10-18 16:53] tyagow commented on #36
i'm working on Bool multiply bytes...
test_multiply_bytes

[2016-10-18 18:55] juliomfreitas commented on #36
I'm working on this case for Bool class

`'test_and_int'`

[2016-10-19 14:39] libertil opened #281 "Correct documentation"
In the getting started section of the docs should be mentioned that voc won't build on Python3.5+.
The default version apt-get provides on Ubuntu 16.04 is 3.5+, it should be mentioned that a separate
Python 3.4+ is required.
Accordingly in the page "Contributing to VOC"
https://voc.readthedocs.io/en/latest/internals/contributing.html
there shouldn't be a reference to libpython3.5-testsuite.

[2016-10-20 10:09] libertil opened #282 "Tests failing"
I followed instruction on how to set up a dev environment.

When I run the tests  I get at the end of the procedure a number of errors due to missing files/directories.
I am running on a Ubuntu 16.4 VM, Python 3.4.5,  javac 1.8.0_91 (openJDK) , ant  1.9.6

Below a sample of the errors I get
======================================================================
ERROR: setUpClass (tests.structures.t

[2016-10-21 00:56] freakboy3742 commented on #282
This is quite odd - I can't say I've seen this before.

Are you able to build the support library manually (i.e., running `ant java` at the command line by itself)?

[2016-10-22 14:13] libertil commented on #282
Yes I am able to manually build the support library and run the "Hello world" sample program.

[2016-10-23 00:12] freakboy3742 commented on #282
It's a long shot, but it it possible there might be filesystem permission problems here? The test system will be trying to create temporary directories in the `tests` directory; if there are permission problems, this might be causing the errors.

Another possibility - how long does `ant java` take to run on you machine - if it's longer than 15 seconds, then that would explain the timeout.

[2016-10-23 00:13] freakboy3742 commented on #270
@brechtm Thanks for the report - that's clearly an unintended side effect.

[2016-10-23 00:14] freakboy3742 commented on #281
Thanks for the suggestion. I can see how this would be confusing, so a documentation fix is definitely called for.

[2016-10-23 14:50] libertil commented on #282
I am inclined to rule out the permissions issue because other directories are successfully created in the tests directory. As for the timeout, ant java occasionally takes a long time to run on my VM. Is there a way to override the 15 sec timeout limit?

[2016-10-23 19:27] g-akash commented on #281
Hi, I would like to work on this.

[2016-10-25 18:14] libertil commented on #282
Yes I am able to build the library and to run the 'Hello world' sample program.

    Il Venerdì 21 Ottobre 2016 2:56, Russell Keith-Magee <notifications@github.com> ha scritto:

 This is quite odd - I can't say I've seen this before. Are you able to build the support library manually (i.e., running ant java at the command line by itself)?—
You are receiving this because you authored the thread.
Re

[2016-10-25 23:38] freakboy3742 commented on #282
You say `ant java` "occasionally" takes a long time to run - can you narrow down why? It should be a fairly predictable and consistent build process, not something prone to prolonged delays. Is there something locking up or waiting for a network timeout?

[2016-10-28 08:58] svatsan commented on #281
Fixed in 0331a80. Please close this ticket

[2016-10-28 10:28] #281 closed

[2016-10-29 19:43] eliasdorneles opened #289 "Incorrect behavior when giving wrong arguments"
I was testing out the behavior of the method signatures before sending #288, and found some unexpected behaviors.

There is probably a better way of testing this, but I did my tests adding these two test methods to the List object:

[code]

And then I wrote some different combinations of passing arguments, and these two cases in which I pass unexpected arguments result in unexpected behavior:

[co

[2016-10-30 00:59] freakboy3742 commented on #289
+1. This is definitely a bug. I can even point you to the place where the error is caused: it's [here](https://github.com/pybee/voc/blob/master/python/common/org/python/types/Function.java#L176).

That function is what takes the arguments that have actually been passed in in Python space, and combines them with the function signature to produce the actual arguments passed to the Java implementatio

[2016-11-03 15:54] Melvie commented on #212
@soummyaah Could you provide an advice on how to start solving this problem?

[2016-11-05 12:53] raphaelm commented on #76
I'd be interested to take a look at ``sorted()``

[2016-11-07 18:52] jessecarrigan opened #298 "Improve dev environment setup docs for Windows"
I struggled through a few issues to get a dev environment up and running on Windows (e.g., pyenv is not supported on Windows and has little/no interest in being so). I'd like to add some detail in an appropriate place on ways for Windows devs to set things up, just not totally sure where that should go.

[2016-11-07 21:17] glasnt commented on #298
Hi @jessecarrigan

We have some sort in this area around the consolidation of basic setup steps on the main website, http://pybee.org/contributing/first-time/setup/

Extending this for Windows specific tasks, then linking to this consolidated reference from VOC, would be ideal.

We have a basic description of venv for Batavia in the [getting started tutorial](https://batavia.readthedocs.io/en/late

[2016-11-07 22:12] jessecarrigan commented on #298
Thanks for pointing me to the use of venv in Batavia, I had missed that! I think that part is fine and matches my experience (as noted there the Windows install of Python has a slightly different folder structure). My main finding was that Python Launcher was a supported way to have different versions of Python on Windows, and using them with the launcher took a little experimenting. I'll write so

[2016-11-09 02:10] eliasdorneles commented on #245
Btw, `with` support (which is very popular and exists in Python since 2.5) should probably be a separate issue than `async/await` (which is 3.5+ only)

[2016-11-09 06:23] sideffect0 commented on #245
@eliasdorneles thats what am saying :(

[2016-11-09 11:53] eliasdorneles commented on #245
Erm, no, I just meant to say that it should be two separate tickets instead of just one.
I haven't even used async/away in any production project, so I'd say it doesn't have the same priority as `with` statement.

And we shouldn't complain about lack of features, remember this is a result of a labor of love and volunteering. Let's not forget this is a lot of work and we're getting all of it for fr

[2016-11-09 13:47] sideffect0 commented on #245
@eliasdorneles `with` support is a need one :(, am changing the description

[2016-11-09 13:51] sideffect0 opened #300 "common patterns like `with` is missing"
Seems like `with` pattern is missing/not supported yet, which is very popular and exists in Python since 2.5.
Started this as seperate issue as said by @eliasdorneles in https://github.com/pybee/voc/issues/245

[2016-11-09 13:51] #245 closed

[2016-11-09 13:55] sideffect0 opened #301 "async/await feature request"
python3.5 async/await feature will be a good feature to see split the issue https://github.com/pybee/voc/issues/245 seperate.
clojurescript like csp feature is another way to solve instead of callbacks

[2016-11-09 16:56] eliasdorneles commented on #212
Hey @Melvie, I think I can help with this one.

So, the builtin functions are define in the file [python/common/org/Python.java](https://github.com/pybee/voc/blob/master/python/common/org/Python.java)

You can search that file for `NotImplementedError` to find the Python builtin functions that are missing implementation and find some that you'd like to implement. Basically, you'd have to write a J

[2016-11-10 03:13] #289 closed

[2016-11-12 11:39] candeira commented on #38
I've been working on `bytes()` in Batavia (https://github.com/pybee/batavia/pull/221). My next job there job will be to correctly implement all the args/kwargs unpacking and error management for user-defined functions, up until https://www.python.org/dev/peps/pep-3102/.

For VOC, I'd like to do the same: first work on the `bytes()` builtin and the underlying `Bytes` object implementation to get th

[2016-11-13 09:28] smilin-desperado commented on #36
I'm working on the 'and' operator of the Complex class

[2016-11-13 17:57] juliomfreitas commented on #233
This link is already on the README. http://voc.readthedocs.io/en/latest/intro/getting-started.html I guess this is the final quickstart, right?

What do you think of point this link right on top of the README?

[2016-11-14 03:37] henriquebraga commented on #36
IMplementend endswith test

[2016-11-20 01:16] eliasdorneles opened #320 "Review str tests that are passing but shouldn't"
I've noticed there are some tests in tests/datatypes/test_str that are passing because they're raising the same error, but aren't doing what they're supposing to be doing.

There are also some tests that can be simplified because they have the same setup code (use the same basic string, but several calls to assertCodeExecution).

I'm adding this issue as a reminder for myself to review and cleanup

[2016-11-22 00:28] freakboy3742 commented on #183
Interestingly - the solution for this will also help solve #255.

[2016-11-25 14:34] Felix5721 commented on #36
working on test_int inline true devision

[2016-12-05 07:56] shaib opened #327 "Use Array instead of List in Tuple type"
Current `org.python.types.Tuple` uses a `List<Object>` as its internal implementation; takes a List as its argument constructor and stores a reference to it.

This is sub-optimal, because a Python tuple is immutable. An Array would avoid dragging in all the resize mechanisms.

But further, it is incorrect, because a Python tuple should not change when the value used to construct it changes.

[2016-12-10 13:05] shaib commented on #270
Since #326 was merged, is this still pertinent?
Note that #326 does not provide full Python 3.5 support, not all the tests pass, but the complete breakage should no longer be there.

[2016-12-11 00:05] freakboy3742 commented on #270
@shaib *This* issue can be closed; but there's at least two follow up issues - making the 3.5 test suite pass (and adding it to CI); and modifying the import process so that it doesn't break briefcase (although that might be a fix to Briefcase that is required).

[2016-12-11 00:05] #270 closed

[2017-01-02 14:25] knaggita opened #337 "Correct the reference for implementantion of __mul__()"
In Your-first-VOC-contribution.md, a wrong reference is given for the implementation of the __mul__() function.

https://github.com/pybee/voc/blob/master/python/common/org/python/types/Str.java#L309

[2017-01-09 01:10] freakboy3742 commented on #337
Thanks for pointing this out. This is going to be an ongoing problem as the source code keeps changing; ideally we'd be able to link to a method, rather than a specific line number.

[2017-01-10 17:27] Felix5721 commented on #36
#342

[2017-01-14 05:26] #327 closed

[2017-01-14 11:18] shaib commented on #327
My reading of the code is that this will fail, before and after #343:
[code]
Haven't tested it yet, could be wrong...

[2017-01-14 13:05] cflee commented on #327
It seems to fail because the `tuple()` builtin (and seemingly most of the other datatype builtins) is not implemented yet, but that does seem like a possible issue!

Adding some failing test cases would be very helpful for the future implementer.

[2017-01-20 06:37] cflee opened #346 "Fix incorrect handling of __main__"
Given this Python code:

[code]

CPython prints ABC, while VOC prints ACB. This causes at least two tests to fail. [1]

This arises from how VOC is transforming the Python `if __name__ == "__main__":` statement. B is placed into the Java `main()` method, while A and C are placed into `module$import()`.

At runtime, the JVM starts with the `main()` method, which first invokes `module$import()`, the

[2017-01-20 09:41] razzbee opened #347 "Missing implementation for lambda syntax"
NotImplementedError: No handler for Lambda ,seems lamda functions not working for me, any workaround??

[2017-01-22 04:29] freakboy3742 commented on #346
Confirming that this happens, and that it was mildly intentional, even though it's inconsistent with CPython behaviour.

Java has a specific concept of a "mainline", which Python doesn't; the conceit of a `__name__ == "__main__"` if block being converted into a Java `main()` method seemed a reasonable one, given that the overwhelming pattern of usage is to have that if block as the thing in an ent

[2017-01-22 04:31] freakboy3742 commented on #347
There's no workaround - it's an unimplemented feature. However, this would be fairly straightforward to implement - it's essentially the logic used for `visit_FunctionDef`, but used for `visit_lambda`, without a specific name for the function.

[2017-01-26 02:37] #320 closed

[2017-01-28 07:47] freakboy3742 opened #348 "Integrate Ouroboros into the build"
[pybee/Ouroboros](https://github.com/pybee/ouroboros) provides a pure Python implementation of the Python standard library. That Python code can be compiled directly into Java classifies and converted into a standard library that can ship as part of the VOC support libraries, supplemented by native implementations as required (see pybee/voc#74).

[2017-02-03 01:04] #346 closed

[2017-02-03 02:58] eliasdorneles opened #350 "AttributeError when using self.__class__"
It looks like the common idiom `self.__class__` doesn't wotk with VOC classes.

Steps to reproduce:

Create a file **testclass.py** with the following code:

[code]

Expected behavior:

[code]

However, this is what you get using VOC:

[code]

Environment details:

[code]

[2017-02-05 02:39] eliasdorneles opened #352 "Exceptions usage fail in unexpected ways"
Here are some test cases that don't work as expected (tested creating a file `testraise.py`, putting these snippets on it then compiling w/ VOC and running):

    raise ValueError("test")

results in:

[code]

However, if you do `raise ValueError()` (no args), the exception is raised normally.

The inverse happens for `KeyError`: if you don't give it an argument, it fails with the same error as ab

[2017-02-06 23:01] #300 closed

[2017-02-16 02:22] eliasdorneles commented on #348
So, how do you think this integration could work initially?

Right now, ouroboros doesn't compile with VOC yet, do you think we should get VOC complete enough to compile ouroboros before doing this integration?

Or do you think it would be valuable start with something like, adding an extra build step that tries to compile every file in ouroboros, check how many compile without errors and report i

[2017-02-16 02:26] eliasdorneles commented on #348
I've just ran a quick check in my laptop, to see how many files would compile without errors:

    for f in ouroboros/*.py; do voc $f && (echo WORKS >> log.txt) || (echo FAILS >> log.txt); done

It resulted in this:

    $ sort log.txt | uniq -c
    125 FAILS
     45 WORKS

Well, this is a run only for the files in the top level, but it means it's compiling ~26% of the files without errors.
It wou

[2017-02-16 02:32] eliasdorneles commented on #348
Full output that can be useful: https://gist.github.com/eliasdorneles/2087a1f8df316d23ac0520533c9c47a5
I'll mine it for interesting bugs later. :)

[2017-02-16 02:34] eliasdorneles commented on #16
Should this issue be closed now? :)

[2017-02-16 12:17] freakboy3742 commented on #348
An approach like Batavia uses would be helpful - keep a list of modules that are implemented and tested, and use that list as the manifest of what to compile into the main sources. That effectively white-lists modules that we know work (like the 45 that are currently compiling without problem)

The debug output is definitely interesting, though - lots of good material to mine there.

[2017-02-16 12:18] freakboy3742 commented on #16
On the basis that there isn't anything specifically actionable, I'm going to say yes.

[2017-02-16 12:18] #16 closed

[2017-02-16 18:50] eliasdorneles opened #359 "Dictionary initialization via dict() builtin isn't setting the values"
This code snippet:

    print(dict(a=1, b=2))

After compiling and running with VOC, is printing empty dict:

   {}

And this is raising `KeyError`:

    d = dict(a=1, b=2)
    d['a']

[2017-02-24 14:44] #359 closed

[2017-02-24 23:25] eliasdorneles opened #361 "Crashing when trying to import a class from non existing module"
Trying to compile the following code (which uses a class in a package that doesn't exist), in a file **import_class.py**:

[code]

If I compile the previous code with VOC and try to run it not having the `doesntexist` module in the classpath, I get the following error:

[code]

I'd expect to get an ImportError, like:

[code]

[2017-02-24 23:26] eliasdorneles commented on #361
I think another instance of the same issue (failing to detect an import error), if you change the code to:

[code]

You get:

[code]

The expected behavior would still be the aforementioned ImportError.

[2017-02-25 01:44] eliasdorneles commented on #171
This can be closed, fixed in #357 :tada:

[2017-02-25 01:48] eliasdorneles opened #362 "Setting instance attributes is failing to overwrite class attributes"
For the following program:

[code]

... the expected behavior in Python is:

[code]

What you get with VOC:

[code]

It seems to be always using the class attribute and disregarding the reassignment.

[2017-02-25 03:38] #171 closed

[2017-02-28 21:10] ashwani99 opened #366 "Link for getting started guide in README.rst is broken"
In README.rst file the link for [Getting Started guide](https://voc.readthedocs.io/en/latest/intro/getting-started.html) is broken. This should be replaced with this [link](https://voc.readthedocs.io/en/latest/intro/index.html)

[2017-02-28 21:16] deep110 commented on #366
yes, I have pointed it out to @eliasdorneles, he told he will fix it soon.

[2017-02-28 21:19] ashwani99 commented on #366
Can I fix the link and submit a PR?

[2017-02-28 22:07] eliasdorneles commented on #366
I think the best solution is to add redirects, because there are other places pointing to these links.

I don't have the proper permissions to [add page redirects in ReadTheDocs for VOC](http://docs.readthedocs.io/en/latest/user-defined-redirects.html#page-redirects) -- maybe @glasnt @freakboy3742 can have a look?

We'll need it like:

[code]

[2017-02-28 22:18] #366 closed

[2017-02-28 22:18] freakboy3742 commented on #366
Redirects would be overkill here; yes, we need to update the links on most BeeWare project READMEs, but just updating the link should be enough.

[2017-02-28 22:41] eliasdorneles opened #368 "Nesting list comprehensions causes crash at run time"
Using the following Python code in a **listcomp.py**:

[code]

The expected output (for CPython) is a 3x3 matrix like:

[code]

Running it with VOC though, I'm getting `IndexError: tuple index out of range`:

[code]

[2017-02-28 22:42] eliasdorneles commented on #366
Well, there are links in the Wiki also: https://github.com/pybee/voc/wiki/Your-first-VOC-contribution

[2017-03-01 01:53] eliasdorneles opened #369 "Some expressions in list comprehensions causes runtime crash"
I'm running into an interesting issue with list comprehensions, here's the test case:

[code]

Running this with Python gives the expected output:

[code]

Running with VOC (java and javac 1.8, Python 3.4), I get a "tuple index out of range" error:

[code]

[2017-03-01 01:55] eliasdorneles commented on #368
Ugh, just realized this is essentially a duplicate of https://github.com/pybee/voc/issues/369

[2017-03-01 01:55] #368 closed

[2017-03-01 06:34] leasunhy commented on #14
I'm very interested in this task. It would be great should I be assigned this task to.

[2017-03-01 09:23] leasunhy commented on #59
Hi, I'm currently attempting on this.
After I added the `$py` suffix to the methods (not functions), all instance methods including the built-ins are affected.

Then I ran `voc` on the following python code:

[code]
and it yielded:

[code]

By disassembling the generated class file, I confirmed that the method that was being looked for was renamed to `__init__$py`.

After searching in the code for

[2017-03-01 09:25] leasunhy commented on #59
Hi, I'm currently attempting on #53.
After I added the `$py` suffix to the methods (not functions), all instance methods including the built-ins are affected.

Then I ran `voc` on the following python code:

[code]
and it yielded:

[code]

By disassembling the generated class file, I confirmed that the method that was being looked for was renamed to `__init__$py`.

After searching in the code for

[2017-03-01 10:13] shyamsunder007 opened #370 "update Your-first-VOC-contribution"
Change the getting started guide(link) from getting-started.html to index.html

[2017-03-01 11:49] freakboy3742 commented on #14
@leasunhy We don't work on the basis of "assigning" work - you work on what interests you, and provide patches. As a courtesy (and to prevent duplication of work), you can flag that you're working on something by leaving a message on a ticket, but you don't have to wait to be formally "assigned" work.

[2017-03-01 13:21] PranavAsty commented on #36
@freakboy3742 Hi. I'd like to work on this. First timer here. I was thinking of the str data type.
Could you give me some suggestions as to what to pick and how to go about it.

[2017-03-01 18:26] deep110 opened #373 "Float addition is not taking complex into account"
In CPython when we intialize x = 1.5+2j, x is taken as a complex type, but voc gives error with

There need to be some modification done in __add()__ of Float.

[2017-03-01 18:45] #373 closed

[2017-03-01 18:48] deep110 commented on #373
Nope, it is working as expected, Sorry it was my blunder, I don't have access to delete this, if any1 can please do it. Thanks.

[2017-03-01 21:38] glasnt commented on #373
Hi @deep110. GitHub issues can't be deleted, but don't worry, closing the issue is fine.

[2017-03-01 23:46] SarthakSuri commented on #38
I'm working on case changes and type checks in String but there is a test that's failing due to unsupported characters: 'Ã¡'. The error I got was:
[code]
For now I've removed those characters from the test.

I have also implemented islower() and isupper() ([#375](https://github.com/pybee/voc/pull/375)). This is my first time contributing so I wanted to check if I was doing this right.

Also, is th

[2017-03-02 00:23] freakboy3742 commented on #36
@PranavAsty Our [getting started docs](http://pybee.org/contributing/how/first-time/what/voc/) walk you through the process of your first contribution. If you need more specific details, let us know!

[2017-03-02 00:26] eliasdorneles opened #376 "Undefined for loop (NameError), when iterating over something created by same generator function"
When I run this code:

[code]

Under Python, I get the expected:

[code]

Running through VOC, I get:

[code]

Note how it breaks on second iteration of the for loop -- it seems that it's cleaning up the name before it should.

Another hint to the problem is that using a second generator function with the same code works correctly, namely, the following code gives the correct output:

[code]

[2017-03-02 00:43] freakboy3742 commented on #38
Searching for "NotImplementedError" is one approach; the other is to open a CPython shell, check to see what methods are available on a given type, and cross check with the Java implementation to make sure they're all present. Even adding the empty stubs of the functions that *should* be there would be a huge help.

[2017-03-02 05:27] shyamsunder007 commented on #370
@freakboy3742 Can this issue be closed as it has been solved in PR #372

[2017-03-02 05:52] leasunhy commented on #59
OK I have fixed it!

[2017-03-02 07:30] glasnt commented on #370
Yes it can!

[2017-03-02 07:30] #370 closed

[2017-03-02 08:43] captaincrunch21 commented on #36
Hi I'd like to contribute , can any one suggest any method or datatype to work on?

[2017-03-02 13:32] deep110 opened #378 "voc is unable to print real and imag part of datatype complex"
x = complex(1, 1) and x.real or x.imag is giving exception.

	at org.python.types.Object.__getattribute__(Object.java:288)
	at python.example.__init__.module$import(example.py:16)
	at python.example.__init__.main(example.py)

[2017-03-02 16:29] ashwani99 commented on #376
Hi, I want to work on this. Can I get some help on how it can be done?

[2017-03-02 17:50] eliasdorneles commented on #376
@ashwani99 Sure, I can give you some pointers.

This seems to be a bug in the bytecode generated for the for loop, in [the visit_For method](https://github.com/pybee/voc/blob/master/voc/python/ast.py#L459).
If you look at that code closely, you'll notice that it creates a for loop giving it a name here: https://github.com/pybee/voc/blob/master/voc/python/ast.py#L472

From looking at the error (Nam

[2017-03-03 01:55] eliasdorneles commented on #36
Hi @captaincrunch21 !
My suggestion for you would be to implement the Python builtin function `enumerate()`.
Basically, it would consist of adding an implementation for this function: https://github.com/pybee/voc/blob/master/python/common/org/Python.java#L599-L610

You should add some tests for `enumerate()` here: https://github.com/pybee/voc/blob/master/tests/builtins/test_enumerate.py#L4-L5

For

[2017-03-03 04:55] eliasdorneles commented on #350
I was looking into fixing this adding `@org.python.Attribute` to the `__class__`attribute of Object.

After doing that, I tried executing the following code:

[code]

And this time, the output is still not the expect, but it's a bit more interesting:

[code]

The expected would be:

[code]

So, for some reason, getting the __name__ attribute for a class ends up being `__main__`, but not sure if it

[2017-03-03 05:16] eliasdorneles commented on #233
Hm, I'm not sure if we should prioritize offline documentation.

You could try to read the Sphinx sources, but that's not as helpful as the compiled docs are.
So, to browse the docs offline nicely, you'd want to have Sphinx installed, then run `(cd docs; make html)` and then open the docs in the browser.
Maybe we could document this and add an `make htmlview` that also opens in the browser after c

[2017-03-03 13:17] gEt-rIgHt-jR commented on #369
Hi, I would like to solve this issue. I want some help.
From what I have understood, the reason is that the size of [`co_const`](https://github.com/pybee/voc/blob/master/python/common/org/python/types/Function.java#L39) is zero.
Can someone tell me where it is initialized and how can I solve this?

[2017-03-03 13:39] deep110 commented on #369
@gEt-rIgHt-jR I think _co_const_ is initialized [here](https://github.com/pybee/voc/blob/master/python/common/org/python/types/Function.java#L111).

[2017-03-03 13:49] gEt-rIgHt-jR commented on #369
@deep110 I think [this](https://github.com/pybee/voc/blob/master/python/common/org/python/types/Function.java#L130) constructor is used, but I don't know when it is called.

[2017-03-03 22:12] #59 closed

[2017-03-03 22:58] Deepanshu2017 opened #382 "Empty return statement/statements in between the code is not causing any effect"
When I run this code

[code]

Which a valid python code with voc I am getting results as,

[code]

and when I tried below code
[code]

I got
[code]

Even this is also not working

[code]

Output is
[code]

But surprisingly this code works
[code]
Output is
[code]

In short whenever we are using any empty return statement in between methods they are not causing any effect in the code, but adding `No

[2017-03-03 23:11] Deepanshu2017 commented on #352
I have fixed this issue. I will create a PR tomorrow after some code clean up.

[2017-03-03 23:42] eliasdorneles commented on #382
Hey, thanks for isolating the problem and reporting!
I bumped into this issue while making my game but for some reason at the time I didn't seem to be able to reproduce.

Have you noticed some kind of pattern?
From a quick look at the examples, using `return` alone doesn't work but `return None` does -- is that it?

It may be interesting to see what's the difference between the bytecode generated

[2017-03-03 23:53] eliasdorneles commented on #378
Fixed in #379

[2017-03-03 23:53] #378 closed

[2017-03-03 23:58] eliasdorneles commented on #362
I should mention that this might also be a bug in the code that reads the attribute.

[2017-03-04 06:34] leasunhy commented on #382
I would like to take this issue. All the codegen things look interesting to me!

[2017-03-05 07:09] eliasdorneles commented on #382
Fixed by #383 -- thank you @Deepanshu2017 and @leasunhy !

[2017-03-05 07:09] #382 closed

[2017-03-06 11:41] avikantz commented on #36
Hi, I'm new here and I'd like to contribute, could you suggest any method/data type I can pick and work on?

[2017-03-06 16:32] eliasdorneles commented on #36
@avikantz Hi and welcome!
So, there are some builtin functions like max, min, zip, enumerate that are missing, you can try implementing one of those. :)
You can also grep for `NotImplementedError` inside the `python/common/org` directory.
Ask help in Gitter if you get stuck.

[2017-03-06 17:44] gEt-rIgHt-jR commented on #36
I've started working on `enumerate` function.

[2017-03-06 17:46] avikantz commented on #36
Ok, @gEt-rIgHt-jR I shall look into `max`, `min` and `zip` then.

[2017-03-06 21:47] sohit-nayak commented on #362
Hi, this actually looks quite interesting.. Could anyone advice on how to start??

[2017-03-07 07:32] cflee opened #394 "Instance methods with only varargs parameter are broken"
When defining instance methods with only a single varargs argument, things break. (It may also apply to class methods, I haven't tested that.)

Test case:

[code]

Expected output (python 3.4.5):

[code]

Observed (incorrect) output when running voc generated class:

[code]

Upon decompiling the voc-generated class file, this is observed:

[code]

The method with only varargs should receive the `t

[2017-03-07 14:25] gEt-rIgHt-jR opened #395 "Problems with non-ascii characters in __str__() and __repr__() functions"
`__str__()` , `__repr__()` functions don't work properly with non-ascii characters.

When I run this code:
[code]

In Python I get:
[code]

But in VOC I get:
[code]

It is giving me problems while implementing `ascii()` function under `Python.java`

[2017-03-07 17:40] dibyadas commented on #395
@gEt-rIgHt-jR I am not getting that error. Can you try that again ? and with other non-ascii characters .
Because I tried Ç , ¢ , ¥ ,©  and all seem to be working as expected  . Are there any other issues here?

[2017-03-07 20:03] hashimshafiq commented on #350
I am starting work on this issue.

[2017-03-07 20:14] hashimshafiq commented on #350
Why It is not adding default main method as clearly seen in your output. ?

[2017-03-08 03:40] tbliu commented on #362
Hi, I would also like to work on this bug and am looking for advice/pointers! Thanks!

[2017-03-08 04:05] tbliu commented on #36
Refs #36 Hi I can work on test_modulo_float

[2017-03-08 05:06] tbliu commented on #36
I can try working on filter

[2017-03-09 17:57] gEt-rIgHt-jR commented on #395
@dibyadas On windows I am getting that output, on Ubuntu I am getting correct output.

[2017-03-10 15:48] #369 closed

[2017-03-10 23:26] #362 closed

[2017-03-11 03:34] bitdumper1 commented on #38
I am working on String.
I will implement startswith() and improve endswith().

[2017-03-11 09:44] sipah00 commented on #38
Hi, I am working on String methods..
I will implement replace(),strip(),lstrip(),maketrans(),translate().

[2017-03-11 15:57] gilmouta commented on #38
I'll be doing the partition() String method then.

[2017-03-12 09:00] leasunhy opened #406 "voc is not capable to cope with very long python scripts"
For benchmarking purpose (refs #363), I created a python script that has thousands of lines. The script looks like this (which can be run with CPython):

[code]

When compiling the script, voc throws:
[code]

After some playing with this, I noticed that this issue is not because the number of lines of the python script is too big, but because the generated Java bytecode is too long.

And this issu

[2017-03-12 13:34] jack17529 commented on #361
@eliasdorneles sir I want to work on this.

[2017-03-12 15:43] Zoham commented on #38
Hello, a first-timer here. Wish to contribute and help.
I have some Java and python knowledge. Where and how could I start ?

[2017-03-12 16:17] eliasdorneles commented on #38
@Zoham have you checked the docs about contributing?
There is a first timers guide here, with instructions and pointers to next steps: http://pybee.org/contributing/how/first-time/what/voc/

[2017-03-12 18:09] encore0117 commented on #36
Hi! First timer here. I'd like to work on frozenset.

[2017-03-12 20:09] ad1269 commented on #36
I picked up the add function in float to support addition with complex numbers.

[2017-03-12 21:21] ASP1234 commented on #36
Working on the frozenset. Sent a PR regarding len() fixes

[2017-03-13 03:12] encore0117 commented on #38
Can I work on str.casefold?

[2017-03-13 10:16] TheGamer007 commented on #36
Hello. I'm new to open source and this is my first time trying to contribute to a project, but I have experience in both Java and Python. I've already set up the environment as described in the Getting Started docs. Could you point me to something that I can work on?

[2017-03-13 13:58] freakboy3742 commented on #36
@TheGamer007 Hi - our guide for how to get started [can be found here](http://pybee.org/contributing/how/first-time/what/voc/) - that gives you a starting place for your first contribution. If you've got any questions, just ask!

[2017-03-13 17:46] deep110 opened #414 "Format of TypeError message is wrong for missing arguments in some functions."
For example, when I was implementing `dict.fromkeys()` and checked with no args, this was result.

fromkeys expected at least 1 arguments, got 0 --> expected

This is an issue in many functions beacuse as @cflee pointed out in https://github.com/pybee/voc/pull/391 this error message is triggered by cpython's [getargs.c unpack_stack()](https://github.com/python/cpython/blob/6f0eb93183519024cb360162

[2017-03-14 02:25] eliasdorneles commented on #406
Thanks for reporting, this was interesting! =)

I agree that this is not VOC's fault, [it seems that Java limits methods to 64K of bytecode](http://stackoverflow.com/questions/243097/javac-error-code-too-large), and therefore I'm closing this issue.

In practice, this shouldn't be a problem, and you can do a for-loop to write a benchmark.

[2017-03-14 02:54] leasunhy commented on #406
@eliasdorneles Thank you for your review! ;-)
I know what you mean, but the issue in #363 is about "inlining selection logic between an operator and its reflected version", so the issue involves code length and a for-loop is not appropriate here.
Consider the case where we actually do the `+` for 100 different pairs of operands.
Yes, the issue is due to the 64K bytecode limit of Java, but we shoul

[2017-03-14 04:02] freakboy3742 commented on #406
I'm going to reopen this - not because we can fix the limitations of the Java VM, but because it's somewhere that we can report a much more helpful error. I've hit this one myself a couple of times, and it takes a few moments to remember what the likely cause is, and confirm that it is, in fact, what is going on.

@leasunhy's point is also a valid one in the context of #363 - we need to be careful

[2017-03-15 14:48] bittikarwasara commented on #36
working on sets
isdisjoint() issubset() and issuperset()

[2017-03-15 15:02] TheGamer007 commented on #36
Working on list.\_\_rmul\_\_

[2017-03-15 19:25] ad1269 commented on #36
Working on dict.__iter__

[2017-03-16 06:43] TheGamer007 commented on #36
Working on test_modulo_float for str

[2017-03-17 04:12] eliasdorneles opened #432 "Fix keyword-only functions"
The following valid Python 3 code:

[code]

... gives the following output in CPython:

[code]

... but raises NullPointerException if compiled and ran with VOC:

[code]

[2017-03-17 05:10] eliasdorneles commented on #352
Hey there!
Thanks for contributing.
Since it’s been a couple days and this PR is incomplete, we’re going to close it for now.
If you’d like to re-open it and fix it up, we’ll be happy to look at it again.

[2017-03-17 05:12] eliasdorneles commented on #352
Oops, closed by mistake there! :point_up_2:
Sorry for the noise

[2017-03-17 05:13] eliasdorneles commented on #352
Quoting from [a previous comment](https://github.com/pybee/voc/pull/415#issuecomment-286221329), a fix for this issue should pass the following test:

[code]

[2017-03-17 17:59] dibyadas opened #436 "Derived class doesn't inherit some magic(dunder) methods from the parent class"
The user-defined functions are inherited as expected , but overriden dunder methods like \_\_str\_\_() or \_\_mul\_\_()  or \_\_rmul\_\()_are not.
Whereas \_\_le\_\_() , \_\_lt\_\_(), \_\_eq\_\_()  works

[2017-03-18 00:16] #347 closed

[2017-03-19 08:14] soandrew commented on #36
Working on str methods rfind(), rindex(), rjust(), rpartition(), and rsplit()

[2017-03-19 15:44] zeerorg commented on #36
there is a nasty error in sum() function implementation
[code]

[2017-03-19 16:40] cflee commented on #414
I'm not entirely sure if it's related yet, but I just spotted some similar in `str.rfind()`:

[code]

[2017-03-19 20:28] AdilsonTorres commented on #36
Hi! I would like to contribute to this project, so my first attempt will be working on floor_divide on Str.

[2017-03-20 16:46] Ostrea commented on #432
I would like to work on it. Could you provide some hints on where to start?

[2017-03-20 17:59] eliasdorneles commented on #432
@Ostrea Hey! I don't really know much more than what's in the above report at the moment.
The problem might be on the bytecode generated (in ast.py file) or in the code for calling functions (since it happens at runtime), it needs some debugging.

[2017-03-20 18:33] ashutoshsaboo opened #456 "Ouroboros Compile Issue with VOC"
Hello,
So I've been trying a lot, since the last 4 days, to get my head into this. After a lot of problems, I thought, that I must first work on resolving the compile issue of a particular file of VOC, that's failing currently, so that things can become easier ahead. On the contrary, this is giving some more problems itself.

For debugging purposes, I am printing the node value, that's being trave

[2017-03-20 21:06] Ostrea commented on #432
Thanks, will try to find problem

[2017-03-21 00:12] glasnt commented on #456
Thanks for the report. At this stage, VOC is still very much a work in progress, but at this point, what you're trying to do is definitely not working yet. It's also a very large chunk of work.

Let's break things down a bit. You've been commenting in gitter recently about things "not working", but we're still not entirely sure what you want to achieve. Are you just trying to implement NamedTuples

[2017-03-21 00:20] #456 closed

[2017-03-21 05:16] leasunhy commented on #436
Confirmed here.
This is so because in Java `cstu` inherits from `org.python.types.Object`, not from `stu`, and the `*` operator calls `__mul__` on that `cstu` object, which is resolved to `org.python.types.Object.__mul__`.

As @cflee has mentioned in #363, one way to make it right is to `getattribute` and do `Callable.invoke`, and this should be the most straightforward solution.

And I just came

[2017-03-21 16:31] ashutoshsaboo commented on #456
Hi @glasnt . Thanks.

What I was trying to do with NamedTuple was basically start the native collections module for VOC itself. I didn't knew then the Ouroboros had a native implementation already. That was the problem.

I understand your point, for a minimal test case. I'll look into it. And the minimal thing here, is mostly that `yield` is not working in the same way with `self - classes` and wi

[2017-03-22 10:20] dibyadas commented on #436
@eliasdorneles
How about, whenever voc encounters a binop method , we convert it into a call node and pass it to the visit_Call() where it will be processed accordingly?
I modified the visit_BinOp  ast.py file (this is just a test modification) :-
[code]
this is the test example:-
[code]
this gives the correct output for the \_\_mul\_\_() in voc after the modification:-
[code]
I am still working o

[2017-03-22 16:42] cflee opened #462 "Test suite not detecting now-passing expected failure tests"
After running git bisect based on whether marking `tests.datatypes.test_str.BinaryStrOperationTests.test_floor_divide_int` as not_implemented fails with "unexpected success" (good) or "expected failure" (bad), I found that there is a regression in the test suite in 519f61c645, as part of pep8 fixes.

When a test that is listed in not_implemented starts passing, it should fail the build. What is ob

[2017-03-22 17:25] McMastS opened #464 "GSoC: Complete implementation of the str, float and int types"
# Task:
Complete implementation of the str, float and int types
# Success:
100% completion of every method and operation on type str, int and float before the end date of August 29, 2017
# Design Specifications:
The string portion of this project will contain a total of 18 methods and operations to complete. For this project, I have grouped each of these tasks into three separate difficulty levels

[2017-03-22 19:24] sngguojie commented on #36
Hi! I would like to try str.splitlines()

[2017-03-22 22:22] freakboy3742 commented on #462
I can't obviously see why this change causes the problem we're seeing; but I can definitely see the cause - the binding of method will cause completely different behavior around exception handling.

If a spot check confirms that the 2367 tests that are xpasses are all the same sort of problem , then we should just revert this change.

[2017-03-22 22:47] sngguojie commented on #36
Hi, I'm new to open source, I was just wondering, I just created a PR, but it seems I cannot request a review. I'm not sure what should I do now? #465

[2017-03-22 23:53] freakboy3742 commented on #464
@McMastS This looks great. You've clearly done a lot of research, and this is quite clear about what you're intending. A couple of comments:

* Unicode handling is definitely complex, but I'm not sure if `encode` will be as difficult as you think; there should be existing code that implements encoding algorithms, probably in the Java standard library. If you've investigated these options and I'm w

[2017-03-23 02:25] cflee commented on #462
Hmm okay, I'll look into that!

I've just pushed a branch to my fork that reverts those two lines (with `# noqa` override for flake8) to verify that there are indeed xpasses, here is the (ongoing) [travis build for cflee/voc/fix-tests](https://travis-ci.org/cflee/voc/builds/214092275).

[2017-03-23 11:17] cflee commented on #36
@sngguojie Welcome! There's no need to specifically request a review, all the maintainers get notifications for every new PR (and all other activity on the repo) so we will get to it when we can! :)

[2017-03-23 15:28] McMastS commented on #464
@freakboy3742 Thanks for the feedback!
* I haven't investigated encode other than some cursory searches which made me think it would be difficult, however I will do some more research and add that to my proposal.
* Thanks for bringing up work-life balance, in my excitement it slipped my mind.
* After looking into the r operators further, you're correct, I had just done a simple search and I misund

[2017-03-23 18:32] gautamworah96 commented on #432
Hello, I tried debugging this problem , This runtime error is caused by  `java.lang.reflect.InvocationTargetException e` on line no : 399 in the Function.java file
 ..this exception in turn occurs when there is an error in the function which is wrapped by invoke.
.Thus there appears to be a bug in the `adjustArguments(instance, args, kwargs)` method..I think the bug is in this code :` if (n_args =

[2017-03-23 20:31] Ostrea commented on #432
According to my debugging the problem is on byte code level. Current implementation doesn't generate default args values for arguments with type `KEYWORD_ONLY`, thus we get `null` in `invoke`.

[2017-03-23 23:01] freakboy3742 commented on #464
@McMastS Preference would be the more common types; given that you're looking at str and float, int would seem like a natural match.

[2017-03-24 01:51] ad1269 opened #468 "GSoC Proposal: Implementation of Dict, Set, and FrozenSet"
# Proposal

I’d like to complete the implementations of the Set datatype, the Dict datatype, and the FrozenSet datatype. There are also some bugs in the frozen set constructors that results in an IndexOutOfBoundsException, so I will fix that. In addition, I’d like to refactor some of the iterators for common iterables such as tuples, strings, and ranges to fit the standard iterator pattern. I have

[2017-03-24 22:01] shyamsunder007 opened #473 "Gsoc proposal:update's and addon's on str and int"
Please, may know any modification's to be done and hoping for a quick and positive response
# **Task:**
Complete implementation of  str and int which includes some new math functions added to int  and it  also includes to correct all the checkstyle error’s in the whole project  and to write doc’s, test for all the function’s  in str and int
# **Success:**
All the method’s implementation will be co

[2017-03-25 01:54] freakboy3742 commented on #473
@shyamsunder007 Thanks for the application. Here's some feedback:

* It isn't clear why you consider rmod, rmul - or, for that matter, any of the right-side operations in weeks 6, 8, 9 or 10 to be "complex" operations. Aren't they just reversed invocations of existing left-hand operations?

* Of the operations you've listed as complex, "encode" is one that is particularly interesting. Yes, binary

[2017-03-25 02:02] freakboy3742 commented on #468
@ad1269 Thanks for submitting this proposal. Some comments:

* The biggest thing that stands out to me is that you don't appear to make any reference to the fact that frozenset and set are almost identical data types. So - lets assume your week 7 estimate for implementing isdisjoint, is subset, is superset, etc is correct: Why is the estimate for week 8 - implementing the same methods for FrozenSe

[2017-03-25 16:17] dibyadas commented on #352
This problem arose due to wrong function declaration.
In ValueError and KeyError , the constructor required an python object array,
```public ValueError(org.python.Object[] args, java.util.Map<java.lang.String, org.python.Object> kwargs)```
But in ast.py , visit_Raise() ,
```java.Init(exception, *(['Lorg/python/Object;'] * len(args)))```
which translated to this constructor call :-
```org.python.e

[2017-03-25 19:52] ad1269 commented on #468
@freakboy3742 I’ve addressed your critiques below. Let me know if this is acceptable.

1. In retrospect, I didn’t really make this clear in the spec, but I was going to allocate two days for the implementation, testing, and documentation of each of the Set and FrozenSet methods. That way I complete all 5 functions in the 2 weeks specified. So for example during weeks 7 and 8, I would spend the fir

[2017-03-26 01:23] amirhdrz opened #474 "Failing test : tests.datatypes.test_str.BinaryStrOperationTests.test_add_None"
Hi, I've been try to run the test suite, however I get over a 1000 failed test cases, most of which are test_str tests.

Description of my environment:
Windows 10 machine
Running tests while VOC virtualenv is activated.
`Python 3.4.4`
`javac 1.8.0_121`

[code]

[2017-03-26 03:43] soandrew opened #475 "GSoC: Complete implementation of bool, int, float, and complex types and Partial implementation of math module"
# Task
I want to complete the implementation of the `bool`, `int`, `float`, and `complex` data types, as well as start an implementation of the `math` module.

# Success
100% completion of the `bool`, `int`, `float`, and `complex` data types as indicated by no more methods throwing a `NotImplementedError`.
75% completion of the `math` module (37 of the 49 methods/constants as listed from the [Pyth

[2017-03-26 04:04] freakboy3742 commented on #475
This is a solid proposal.

It's an ambitious collection of work, but your reasoning for assertion is sound - as long as you can back up your level of productivity. The best way I can think of do this is to point at examples of pull requests that you've had accepted, with estimates of how long each one took.

[2017-03-26 04:07] freakboy3742 commented on #474
This is definitely interesting... this failure isn't happening on our CI server.

Can you confirm:
(a) That this is happening on a clean checkout of VOC
(b) The git revision that you're using
(c) Anything else you can tell us about your Windows machine. Given that the failure is in str tests, and specifically around encoding issues, I'm wondering if there might be a language encoding issue. What l

[2017-03-26 11:08] deep110 opened #476 "GSOC: Complete implementation of time and io module."
### **BASIC INFORMATION**

* **Name:** Deepankar Agrawal
* **Email:** deepankar11093@gmail.com
* **Phone Number:** +91 8791286328
* **Github/ Gitter Chat Room:** [deep110](https://www.github.com/deep110)
* **Skype:** live:deepankar11093
* **University:** Indian Institute of Technology, Roorkee.
* **Field of Study:** Electronics And Communication Engineering (Batch of 2017)

### **PROJECT INTRODUCT

[2017-03-26 13:53] bitdumper1 opened #477 "GSoC: Complete implementation of Set and FrozenSet and partial implementation of socket module"
Task
====
I will complete the implementation of the `Set` and `FrozenSet` data types and partially implement the `socket` module.

Goal
====
100% completion of `Set` and `FrozenSet` and 75% (40) methods from the [socket](https://docs.python.org/3/library/socket.html) module.

Technical details
=============
`Set` and `FrozenSet`
----------------------------
`Set` and `FrozenSet` are same and both

[2017-03-26 15:12] AdilsonTorres commented on #75
@freakboy3742, I partially understood this issue, could you explain more?

[2017-03-26 19:11] dibyadas opened #479 "GSoC 2017 Proposal : Complete implementation of cmath,httplib and itertools module"
# Google Summer of Code 2017 Application Proposal
## Pybee:VOC
### Dibya Prakash Das

## Table Of Contents
### 1. [About Me](#me)
<ul><li>Basic Information
<li> Background work and Programming Skills</ul>

### 2. [The Project](#project)
<ul> <li> The problem and the motivation
<li> The plan
<li>Current Workings</ul>

### 3. [Timeline](#timeline)
### 4. [Notes](#notes)
### 5. [References](#refs)
<a

[2017-03-26 19:29] amirhdrz commented on #474
This seems to have been a console encoding issue on my machine.
Running following commands in the terminal solved the problem for me.
I can now pass the test successfully.

`chcp 65001`
`set PYTHONIOENCODING=utf-8`

[2017-03-26 19:29] #474 closed

[2017-03-26 19:50] dibyadas commented on #479
@freakboy3742 Looking forward to your suggestions for improving my proposal

[2017-03-26 23:27] freakboy3742 commented on #474
Good to know you've fixed this - Thanks for debugging it.

Out of interest, is this the result of something unusual that you've done to your machine in the past, or is it a default configuration that many people will have on their machine? If it's likely to be a common problem, then it would be good to document how to diagnose and fix the problem so that others don't hit the same issue.

[2017-03-27 00:18] freakboy3742 commented on #473
Perhaps you've missed the point of the scheduling process - its to *eliminate* unexpected factors. You've essentially *allowed* for a 25% slip in your schedule. If it's potentially 25% under, I have no reason to believe it won't be 25% *over*, either. The entire *reason* we ask for schedules is for you to do the research into what you don't understand so that we have confidence that *you* understa

[2017-03-27 02:43] AdilsonTorres opened #482 "GSoC 2017: Implementation on Builtin datatypes, optimizations and standard libs."
# Proposal for GSoC 2017

## Implementations on VOC project (Builtins, Optimizations and Standard Libs)

## Proposal
In this GSoC 2017, I plan to work on VOC projetct, completing the implementations on **builtins datatypes** (str, int, complex, etc.), optimizations on code paths for some data types (and where possible) and some standard libs (functools, enum, re, argparse).

## Success
1. Bultins

[2017-03-27 03:05] freakboy3742 commented on #476
This is a fairly good breakdown of the work you're going to tackle from a Python perspective; however, you've given very little indication how this maps onto the underlying Java APIs. It's difficult to have confidence in your time estimates if you haven't given details of how you arrived at them. For example, if it turns out that Java's IO model (which is fairly complex) doesn't map well to Python

[2017-03-27 03:18] freakboy3742 commented on #477
This is not bad as a first pass - but it needs a lot more detail. It reads like you've worked out what you want to do, and just split it up over 12 weeks - not that you've worked out how long things will take, and determined that it's 12 weeks of work.

Some specific comments:

* The "not straight forward" set methods - why are they complex? Is it because they're not direct analogs to underlying J

[2017-03-27 03:25] freakboy3742 commented on #479
This seems *extremely* optimistic as a timeline. You're proposing to implement *all* remaining data types, and *4* builtin modules. While I appreciate the enthusiasm, it doesn't seem realistic at all.

But more importantly - this proposal gives me no reason to believe your estimates. You say it will take 2 weeks to finish *all* the data types. I've been working on VOC for *18 months* - admittedly,

[2017-03-27 03:43] freakboy3742 commented on #482
This seems extremely optimistic as a timeline. You're proposing to implement all remaining data types, 4 builtin modules, *and* tackle optimization. While I appreciate the enthusiasm, it doesn't seem realistic at all.

But more importantly - this proposal gives me no reason to believe your estimates. You say it will take 3 weeks to finish all the data types. I've been working on VOC for 18 months

[2017-03-27 04:03] amirhdrz commented on #474
My best guess is that the issue was caused by one of the many development programs I've installed recently, sorry I can't really pinpoint it further than that.

This issue also caused one of my python scripts that printed unicode characters to throw a similar error, which is how I found the fix for it. However, I didn't have any such problems before.

[2017-03-27 06:23] Saurabh--Kumar opened #483 "GSoC 2017 proposal: Implementation of builtin types Int, Float, Complex and Str"
Looking forward to feedback:

**Proposal for VOC Project:**

**Personal Information:**
Name - Saurabh Kumar
University – BITS Pilani, Pilani, India
Major – Computer Science and Physics (Final Year undergraduate student)
email – bhardwajsaurabh10@gmail.com
Github - https://github.com/Saurabh--Kumar

**Task:**
I would be completing all the not implemented methods of types Int, Float, Complex and Str

[2017-03-27 06:31] dibyadas commented on #479
@freakboy3742 Thanks a lot for reviewing my proposal and for your valuable feedback. I will update this proposal keeping in mind the points you have mentioned. It seems I have underestimated the task the I have proposed to do.
And you were right when you said that I will be asking for the style and the process and not a complete walkthrough on how to implement the modules.
Now that you have mentio

[2017-03-27 12:19] AakashSasikumar commented on #36
Hey, everyone, I would like to inform that I am working on the replace() function for the Str datatype.

[2017-03-27 17:26] AdilsonTorres commented on #482
Yes, I was optimistic. That's because I considered some factors:
1. About the builtin data types, I know this takes time to do, but I'm considering the work already done, which means that from what I've seen a lot of things has been done, so I don't think that there is so much thing to do, and I also considered what is currently being worked on (#36 and others issues). Even so I underestimated wha

[2017-03-27 19:22] deep110 commented on #476
@freakboy3742 Thanks for the feedback.
Yes, java.io is complex enough to be incorporated into python io. Though Java has alternate IO Api's **java.nio** which have support for bytes and byteArrays like python. It has been used in [Jython3](https://github.com/jython/jython3/tree/master/src/org/python/core/io). I have gone thru that source and various parts of that code can be reused here.
Also, sho

[2017-03-27 19:46] deep110 opened #486 "Bool should inherit from Integer not Object"
In CPython, bool extends from int, but so is not the case in voc. Does this need fix or is it an intended implementation.

[2017-03-27 21:14] shyamsunder007 commented on #473
Timeline

(Community Bonding Period)

•	Solving some check-style errors
•	Writing doc’s
•	Discussion above the complex problems on how to tackle it and clearing some doubts.
•	Participate in community discussions on Gitter, and other platforms
•	Get up to date on all documentation

(Week 1)

•	Work on str functions i.e rmul,rmod,maketrance
•	Clearing check-style errors
•	Writing doc’s and test’s

[2017-03-27 23:36] freakboy3742 commented on #476
Before you get too enthused about java.nio, you might want to check the support on Android. Android doesn't have a full nio implementation.

[2017-03-28 01:02] freakboy3742 commented on #486
VOC should be a complete mirror of Python's behaviour - so yes, this means inheritance relationships should be identical, too.

However, keep in mind that this means there needs to be a *python* inheritance chain, which doesn't *necessarily* mean the Java Bool class needs to inherit from Int.

[2017-03-28 01:05] AdilsonTorres commented on #36
Hello! I would like to working on module_complex on Str, and maybe it can serve to others data types, if it is I will also do that.

[2017-03-28 01:15] freakboy3742 commented on #483
Thanks for submitting this proposal. It's a good start.

My biggest concern is the "backlog" and "as many as possible" allocations in your schedule. The entire purpose of the scheduling process is to remove risk. If you need to add "backlog" allowances to your schedule, that's an indication that more elaboration is required.

Your handling of "challenge" items is better - you've started to identif

[2017-03-28 03:34] ASP1234 opened #487 "GSoC 2017 proposal : Complete the implementation of FrozenSet, Set and Str builtin data types. Partial implementation of JSON module"
## Project description

### Abstract/summary:

VOC is a transpiler that converts Python code into Java class files so Python code can run in the JVM. This enables you to run Python code anywhere that there is a JVM - which includes Android phones, web applications to deploy in a J2EE container.

In order to replicate Python behavior in Java, Python's logic for all the basic operations needs to be

[2017-03-28 03:46] bitdumper1 commented on #477
As per my research
* The "not straight forward" methods accept any iterable object, so dealing with them is a litttle harder.
* `socket` is a good target to implement because httplib, email or similar are dependent on it. They need socket to work. `socket` written in python is only a wrapper above the  `_socket`, the C implementation providing additional facilities. Total of 6 method/functions can

[2017-03-28 04:42] sohit-nayak opened #489 "GSoC Proposal: Complete implementation of Str, Dict, Int and Float types and Complete implementation of math and cmath modules."
# Project Details :
## Introduction
-----

VOC still lacks the implementation of some important functions in the Str and Dict builtins and also most of the `__r*__` methods of Int (15) and Float (12). I would be fixing all of the `NotImplementedError` of these four datatypes. And as far as module implementation is concerned, I have targeted `cmath` (complete) and `math` (complete) modules.
Some of

[2017-03-28 05:45] deep110 commented on #476
@freakboy3742 I will be mainly using java.nio.ByteBuffer and sometimes java.nio.CharBuffer or IntBuffer, and their implementation exists in Android.
https://developer.android.com/reference/java/nio/package-summary.html

[2017-03-28 11:47] askari12 commented on #38
Hey guys, which method implementation are still available that I can reserve and start working on ?

[2017-03-28 11:48] askari12 commented on #301
I would like to work on this project. Can I get details about it ?

[2017-03-28 23:59] TheGamer007 opened #491 "GSoC 2017 proposal: Implementation of Int, Float and Str"
### Personal Details
**Name:** C Shri Akhil
**Nationality:** Indian
**Time Zone:** GMT + 05:30
**Email:** cshriakhil@yahoo.co.in
**Gitter Handle:** @TheGamer007
**GitHub Username:** @TheGamer007
**College:** BITS Pilani, Hyderabad Campus
**Undergraduate Degree:** 2nd year student in Electrical and Electronics Engineering

## Success Conditions
100% implementation of all the unimplemented methods i

[2017-03-29 00:58] soandrew commented on #475
Thanks for the kind words and advice. I've been working on a 'Details about myself" section for the official project proposal and will be sure to include information such as my programming background and experiences including past pull requests.

[2017-03-29 02:58] pcsteppan opened #492 "Typo in tutorial 0"
[Tutorial 0](https://voc.readthedocs.io/en/latest/tutorials/tutorial-0.html) mentions the expected output upon running the VOC compiler over example.py is

Adding default main method...
Writing python/example/\_\_init\_\_.class ...

 While the actual output I received is only

Writing .\python\example/\_\_init\_\_.class ...

[2017-03-29 07:14] freakboy3742 opened #493 "classmethods and staticmethods aren't bound correctly"
The `@classmethod` and `@staticmethod` decorators are currently unimplemented, and any attempt to use them results in a runtime error:

`TypeError: classmethod() takes 0 positional arguments but 1 was given`

[2017-03-29 15:38] Ostrea commented on #432
I have fixed this issue, but it has caused problems with varargs. Should I pull request changes and start new issue for varargs?

[2017-03-29 18:55] McMastS commented on #36
Hello, I am starting work on list __reversed__

[2017-03-29 20:27] sohit-nayak commented on #489
@freakboy3742 Hi, is there anything I must consider adding or changing here? I know there are some minor changes to be done (casefold, etc.), but is there any overall flaw ? (This is my first proposal) Thanks! :smile:

[2017-03-30 00:38] eliasdorneles commented on #432
@Ostrea you should not create issues for problems, unless they're reproducible with the code from the official master branch.
You can still create a pull request so we can do an initial review, though.

[2017-03-30 11:04] soandrew commented on #475
@freakboy3742 Another coder seems to have already been working quite extensively on the `math` module here #494. I'm wondering if it would be appropriate to implement the `cmath` module as a part of my proposal instead of the `math` module as originally planned?

It has fewer functions (30), but the Java Math class does not support complex numbers directly so the implementation will be more diffic

[2017-03-30 11:53] freakboy3742 commented on #487
Thanks for submitting this proposal. I have two major comments:

1. I'm not convinced you've done enough exploration of the amount of work involved for each method. For example, in the week of June 26, you're proposing to implement str.isidentifier, str.isnumeric, and  str.isprintable - three relatively straightforward boolean checks. The following week, you're proposing to implement str.casefold,

[2017-03-30 12:04] freakboy3742 commented on #491
Thanks for submitting this proposal. This is a solid effort - you've done plenty of research, and this proposal shows the result of that.

The only significant comment I'd make is that the existence of "buffer" time in your proposal is a bit of a red flag. The purpose of planning is to work out how long a body of work will take, and eliminate risk; you should be able to state your timeline with su

[2017-03-30 12:41] TheGamer007 commented on #491
@freakboy3742 Thanks for the feedback. I'll make the necessary edits to the timeline. Like I mentioned, I had to reevaluate the time required for certain other methods in any case. If they seem to be falling short of 12 weeks, I'll take up some more tests.

[2017-03-30 17:18] soandrew opened #499 "Precision of complex.__pow__ differs from results calculated by Python"
The best way to see this problem is to comment out the [defined `substitutions` in the `BinaryComplexOperationTests` class test suite](https://github.com/pybee/voc/blob/master/tests/datatypes/test_complex.py#L54-L64) which is being used instead of the [`SAMPLE_DATA` from the `tests/utilis.py` file](https://github.com/pybee/voc/blob/master/tests/utils.py#L626-L632).

Then I ran:
[code]
and encounte

[2017-03-30 20:23] Ostrea commented on #432
Okay

[2017-03-31 02:24] SouravJohar opened #500 "GsoC Proposal: Implementation of "os.path" and "random" modules"
## Implementation of ‘os.path’ and ‘random’ modules
29.03.2017
─
**About me:**
I am Sourav Johar, a 2nd year Computer Science undergraduate from Amrita Vishwa Vidyapeetham, India. I’m a Python programmer and I’ve worked quite a lot with Java also.
I would love to contribute to VOC during my summer. I’ve always had a knack for programming, and thus I enjoy my work and I’m very diligent towards it.

[2017-03-31 04:54] freakboy3742 commented on #489
Hi Sohit - thanks for the proposal, and apologies for the delay in giving feedback. On the whole, this looks reasonably good; you've got some good detail on approaches and libraries you're going to use. Some comments:

* References like "finishing last week's work if needed" undermine your scheduling. The purpose of the scheduling process isn't to take a body of work and divide it into 12 parts; i

[2017-03-31 05:08] freakboy3742 commented on #500
Thanks for submitting this proposal. Some feedback for you:

* Have you investigated the prospects for file operations on Android? It's OK if you're going to consider it out of scope for your project, but you will need to reference it *somehow*.

* References like "finishing last week's work" undermine your scheduling. The purpose of the scheduling process isn't to take a body of work and divide i

[2017-03-31 06:52] sohit-nayak commented on #489
@freakboy3742 thanks for the review! I will consider all the comments aforementioned while preparing the next edit.
* Will remove any contingency time to make the schedule more solid.
* Will research more on `java.nio` and mention about it.
* Will be more elaborate on each function of `cmath` in the schedule.
Thanks! :smile:

[2017-03-31 09:40] AakashSasikumar opened #503 "GSoC Proposal: Complete implementation of the math and cmath library"
# Complete Implementation of math and cmath

## Project Goal
The math library is one of the most commonly used libraries in python. With math being such a crucial aspect of coding everywhere and keeping the goal of VOC in mind, I am willing to devote my time to implement these two important libraries.

As of now, there are no implementations of these two libraries what so ever. I have planned to s

[2017-03-31 14:08] cflee commented on #499
This thing on "precision error" seems to be entirely expected. Floating point calculations are generally not deterministic, so the substitution array exists _precisely_ to 'hide' the inaccuracies so that the test suite passes on the Travis CI environment.

The 'correct' way to compare floating point number is to see if they are 'close enough' within a certain epsilon (see the [Floating-Point Guide

[2017-03-31 15:13] deep110 commented on #476
@freakboy3742 Hi, I have updated the proposal with my info, as well as with the concerns raised by you. Could you please give a quick feedback about it (means any updates or any additions or deletions to be made, timeline concerns), since the date of submission is getting closer.
Thanks in Advance.

[2017-03-31 15:38] soandrew commented on #499
@cflee Ah I see. I think I completely misunderstood what the `substitutions` array was doing then. So each time the outputs aren't exactly equal we can just hard code the expected outputs into that array?

And yes, having those two complex samples would have caught the typo found so I believe that it is a necessary test.

[2017-03-31 17:44] #499 closed

[2017-04-01 12:06] SouravJohar commented on #500
There are only 3 functions in `os.path` which involve time. And the value returned by these numbers is just a float data type, not a special datetime object. So, I've to only work with floats. Am i missing anything?

[2017-04-01 13:14] TheGamer007 commented on #491
@freakboy3742 Edits made based on your suggestions. To summarize what's new:
* `__mul__` for `float` seems to be quite simple, and hence will not require as much time.
* Based on my current problems with the `%` operator, the formatting methods in `str` might require slightly longer due to presentation differences between Java and Python. Hence, some extra time assigned there.
* The tests in `int`

[2017-04-02 13:15] Saurabh--Kumar commented on #483
@freakboy3742 I have made changes to the proposal as per your suggestions. Please go through this modified proposal. waiting for your feedback. Thanks.

[2017-04-02 16:19] amrinderbrar95 opened #506 "Hi, I would like to work on this."

[2017-04-02 16:21] amrinderbrar95 commented on #74
I would like to attempt to solve this issue.

[2017-04-03 07:09] aviplaw opened #507 "GSoC VOC Project: Implementation of int, float and Complex for Python and JVM interlink"
Google Summer of Code 2017 Proposal
The IDEs of Python. Tools for cross-platform Python application development.

“Python on the JVM: VOC Project”

= Personal Details =
Name: Anurag Viplaw
University: University of Petroleum and Energy Studies
Email: viplaw.anurag14@stu.upes.ac.in
Github: aviplaw
Linkedin: linkedin.com/in/anurag-viplaw-88185a113/
Skype: +91 7060212580, +919006291010
Time-zone: UTC

[2017-04-03 07:57] dibyadas commented on #479
@freakboy3742 I have updated my proposals. As the deadline is today, I would be grateful if you can share your final thoughts on this.

[2017-04-03 14:25] cflee commented on #506
Hi @amrinderbrar95! If you're notifying others that you're working on a specific data type, builtin, module, or something like that, please comment on the relevant issue!

Closing this issue as it doesn't appear to be an issue.

[2017-04-03 14:25] #506 closed

[2017-04-05 03:08] ASP1234 commented on #36
Hello! I'm working on FrozenSet Set Operations as well as Set Update Operations

[2017-04-09 05:33] shivampkumar commented on #36
For equals comparison of int with frozenset, python itself gives not implemented...Then VOC giving not implemented should be treated as a success, right?

[2017-04-09 12:51] cflee commented on #36
@shivampkumar VOC should behave the same way as CPython, yes.

[2017-04-11 04:08] shivampkumar commented on #36
@cflee still, even though not implemented is given, it is treated as an unexpected failure... Is that okay?

[2017-04-11 12:37] cflee commented on #36
@shivampkumar The tests should pass. If they are failing, the test suite will report what's the difference between the expected and observed output, which should explain why the test is unexpectedly failing.

I think it's better if we continue this discussion in a Pull Request, if you have a work-in-progress branch, or otherwise on [the pybee Gitter room](https://gitter.im/pybee/general/). Thanks!

[2017-04-27 17:58] eliasdorneles commented on #376
I tested this again with the latest code, and can't reproduce it -- this doesn't seem to be an issue anymore, so I'm closing it.

[2017-04-27 17:58] #376 closed

[2017-04-30 08:37] atmishra commented on #36
Hi everyone, I am working on isnumeric() in Str. I have written the test case for it and even implemented this method. I want to know that do I need to create a different branch for it or can push the code the master branch?

[2017-04-30 15:07] eliasdorneles commented on #36
@atmishra create a different branch, please :)

[2017-05-02 05:50] eliasdorneles opened #530 "Some bytes literals trigger issue in bytecode file writer"
Feeding the following code to VOC seems to trigger an issue in the code that writes the bytecode:

    b = b'\xc8'
    print(b)

Running with `voc -v` we get an error in the bytecode generation:

[code]

I suspect that the code is assuming all bytes from input are signed bytes, but this needs further digging.

[2017-05-02 06:00] eliasdorneles commented on #492
Thanks for caring, but the tutorial is correct in this case, that was the expected output when compiling in Linux or OS X.

You're getting a different output because you're probably using Windows (maybe PowerShell?).

I'll close this ticket, feel free to comment or provide more details if my assumptions are incorrect.

[2017-05-02 06:00] #492 closed

[2017-05-02 06:02] freakboy3742 commented on #530
Looks like an easy fix - `write_extra` is using `write_s1`, rather than `write_u1` - which is odd, because `read_extra` uses `read_u1`.

[2017-05-02 14:00] eliasdorneles commented on #530
So I've just tried changing to `write_u1` but then the above code prints `b'\x-56'`, which seems to be result of reading signed, like:

[code]

[2017-05-02 21:53] eliasdorneles opened #532 "We need better output for tests that raise exceptions"
Currently, when a test throws an error the output is way too confusing, no matter if you run with `py.test` or with `python setup.py test`.

I believe this is important enough to be fixed because it's hurting not only maintainer productivity (for example, I often find myself copying the test code into a temp file, just to be able to see a complete stacktrace) but it's also hard on project newcomer

[2017-05-06 11:02] captaincrunch21 commented on #532
I want to grab this. Can You guide me

[2017-05-15 13:58] freakboy3742 commented on #464
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:58] #464 closed

[2017-05-15 13:58] freakboy3742 commented on #468
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:58] #468 closed

[2017-05-15 13:59] freakboy3742 commented on #475
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #475 closed

[2017-05-15 13:59] freakboy3742 commented on #476
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #476 closed

[2017-05-15 13:59] freakboy3742 commented on #482
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #482 closed

[2017-05-15 13:59] freakboy3742 commented on #479
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #479 closed

[2017-05-15 13:59] freakboy3742 commented on #483
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #483 closed

[2017-05-15 13:59] freakboy3742 commented on #489
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #489 closed

[2017-05-15 13:59] freakboy3742 commented on #491
Unfortunately, this proposal wasn't accepted.

[2017-05-15 13:59] #491 closed

[2017-05-15 14:00] freakboy3742 commented on #473
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:00] #473 closed

[2017-05-15 14:00] freakboy3742 commented on #487
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:00] #487 closed

[2017-05-15 14:00] freakboy3742 commented on #500
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:00] #500 closed

[2017-05-15 14:00] freakboy3742 commented on #503
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:00] #503 closed

[2017-05-15 14:00] freakboy3742 commented on #507
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:00] #507 closed

[2017-05-15 14:01] freakboy3742 commented on #477
Unfortunately, this proposal wasn't accepted.

[2017-05-15 14:01] #477 closed

[2017-05-18 18:41] trbedwards opened #533 "AttributeError when compiling a function with a try/except clause"
Here is the code that reproduces the error (voc_test.py):
[code]
and here is the error message when I execute `voc -v voc_test.py`

[code]

I'm using voc v0.1.3 and python 3.4

[2017-05-18 20:39] trbedwards opened #534 "Attribute error when using += operator on an instance attribute"
Here's the minimum code (`voc_test.py`) that reproduces the issue:
[code]

When I do `voc -v voc_test.py` I get:
[code]

This problem disappears when I replace `self.a += 1` with `self.a = self.a + 1`

[2017-05-21 23:28] eliasdorneles commented on #348
I've re-run the compilation for Ouroboros using this command and I've added the results [to this gist](https://gist.github.com/eliasdorneles/c64fae2d6aa1dea85602be29508f3c40), together with a simple log analysis command that display the most common error messages, this may help prioritize what to fix.

[2017-05-22 06:53] phildini opened #537 "Docs should be clearer on how to get dependencies"
As a developer, I want clear docs on how to get the dependencies on my machine, specifically `javac` and `ant`.

Links to vetted existing guides would satisfy this ticket.

[2017-05-22 06:55] phildini opened #538 "Replace `ant` with `gradle` for build."
Chatting with @freakboy3742 and @eliasdorneles in the run-up to Pycon sprints, the consensus seems to be that we can replace `ant` with `gradle` for VoC building.

This would be one less dependency in the stack, and is a Good Thing™.

[2017-05-22 08:31] eliasdorneles commented on #538
An acceptable initial implementation of this may be too add a `build.gradle` that just calls the ant tasks, this way we can just tell people to use Gradle and gradually migrate away of Ant.

The ideal would be to get rid of Ant altogether.

[2017-05-22 08:34] eliasdorneles commented on #538
Gradle docs on calling ant tasks: https://docs.gradle.org/current/userguide/ant.html

This should work without having to install ant manually.

[2017-05-22 16:25] eliasdorneles opened #540 "Support for chained comparisons"
[Chained comparisons](https://docs.python.org/3/reference/expressions.html#comparisons) are used in many standard library modules, including the [urllib.request.parse](https://github.com/pybee/ouroboros/blob/master/ouroboros/urllib/parse.py#L158) which is good to prioritize.

The following test code:

[code]

When running with CPython, it prints:

[code]

With VOC, the compilation fails because [t

[2017-05-22 16:29] PamelaM commented on #36
I'm working on tests.datatypes.test_tuple.py and trying to identify why things are not failing

[2017-05-22 19:17] luizirber commented on #534
I worked on this issue in PR #544. On top of the `Attribute` case (this bug), I also considered the `Subscript` case that happens when accessing lists:
[code]

[2017-05-22 19:43] katlings commented on #540
I'm interested in tackling this!

[2017-05-22 22:29] gkhaburzaniya opened #549 "Wrong error when trying to setattr"
[code]
instead of ```>>> a = 5

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: attribute 'real' of 'int' objects is not writable
[code]

[2017-05-22 22:45] efronlicht opened #550 "Conditional expected failures for backported bug fixes"
Some tests will fail in older python versions because of bug fixes that haven't (yet) been backported. We need a way to expect conditional failures on tests. For example, a decorator factory like this should be enough to expect failures on specific CPython versions:

`import unittest
def expected_failure_on_condition(boolean_func):
    def _no_op(x):
         return x

    if boolean_func(*args, *

[2017-05-23 00:01] gkhaburzaniya opened #554 "Round misimplemented for integers"
round(15, -1) gives 15

Should give 20

[2017-05-23 08:13] #534 closed

[2017-05-23 21:56] bsthorpe742 commented on #36
I am implementing Bytes.count.

[2017-05-23 23:01] #540 closed

[2017-05-23 23:42] eliasdorneles commented on #432
Attempting to compile a function with one keyword-only argument is also failing:

[code]

The above under CPython works, printing `2`, but attempting to compile it with VOC causes an error:

[code]

[2017-05-24 00:17] eliasdorneles opened #565 "Support deleting variables from local namespace"
The following piece of code fails to compile with VOC:

[code]

Attempting to compile this, we get an error because it lacks implementation:

    NotImplementedError: Unknown context <_ast.Del object at 0x7f24c407c7b8>

This is used in several modules in the standard library (mostly to prevent cluttering the namespace), including `urllib.parse`. Therefore, fixing this will help us o get closer to

[2017-05-24 00:47] eliasdorneles commented on #554
Yeah, currently rounding integers are just returning the same value unmodified: https://github.com/pybee/voc/blob/master/python/common/org/python/types/Int.java#L757

According [to the docs:](https://docs.python.org/3/library/functions.html#round)

[2017-05-24 05:33] captaincrunch21 commented on #36
I am implementing enumerate();

[2017-05-24 17:57] katlings commented on #565
I'm working on this!

[2017-05-24 18:24] eliasdorneles opened #568 "str.repr should use double quotes when value needs escaping"
This is what CPython does:

[code]

Code compiled with VOC is currently working like this:

[code]

It would be nice to have [`Str.__repr__`](https://github.com/pybee/voc/blob/7771f960087589755674e8c608c1540dbb85251f/python/common/org/python/types/Str.java#L72-L74) handling these cases, this will make testing easier.

[2017-05-24 18:52] bsthorpe742 opened #569 "bytes.count implementation should use __getitem__"
bytes.__getitem__ is not tested.
Slices need to support objects with __index__.

Once these are implemented this function can be refactored to reuse the __getitem__ functionality.

[2017-05-24 20:52] #565 closed

[2017-05-25 11:06] #530 closed

[2017-05-25 11:07] cflee commented on #568
If anyone is tackling this, `Bytes.__repr__` also needs similar logic.

For reference: [cpython bytesobject.c](https://github.com/python/cpython/blob/v3.6.1/Objects/bytesobject.c#L1320)

[2017-05-25 11:35] cflee commented on #568
Actually, should this issue be generalised to include escaping within the quotes, or should it be a separate issue? There is a partial fix that handles edge cases for representing/escaping various non-printable characters (but not the outer quotes) in newly-closed #465, and I'm wondering where to track that.

CPython ref: [unicodeobject.c](https://github.com/python/cpython/blob/v3.5.3/Objects/unic

[2017-05-25 18:02] bsthorpe742 opened #576 "Negative Indexes with Slices (__getitem__)"
Many objects do not support negative indexes with slices.  The slicing behavior is handled with `__getitem__`.
Added support for negative index slicing in `Bytes.__getitem__` in pull request #574.  `Bytes.__getitem__` could be used as an example for supporting negative slicing in other objects which support `__getitem__`.

[2017-05-25 21:20] chernrick commented on #36
I'm working on rmul for str and adding a test for that

[2017-05-25 23:30] seocam commented on #568
Well the first issue (created by @eliasdorneles) would be fixed by #578 but still there things to be done to get this closer to the CPython ref.

[2017-05-26 06:48] mistermocha opened #580 "Hypothesis testing of voc"
Try using hypothesis.works for testing when appropriate. Documentation at https://hypothesis.readthedocs.io/en/master/index.html

[2017-05-26 08:49] cflee commented on #186
Closing this issue as flake8 and checkstyle have since been added to the Travis build.

[2017-05-26 08:49] #186 closed

[2017-05-26 08:54] cflee opened #582 "Some methods should left undefined on Object"
Per [Python docs 3.3.7 on the data model](https://docs.python.org/3.5/reference/datamodel.html?highlight=__add__#emulating-container-types), for numeric types, "Methods corresponding to operations that are not supported by the particular kind of number implemented (e.g., bitwise operations for non-integral numbers) should be left undefined."

For illustration, we consider the Float type which does

[2017-06-03 11:09] trbedwards opened #585 "del statement not implemented in voc"
I've create an example script `voc_test.py` like this:
[code]
but when I invoke `voc voc_test.py` I get this error:

[code]

[2017-06-03 12:28] eliasdorneles commented on #585
This should be fixed with the code in master.
Are you using the version installed from PyPI?

[2017-06-04 10:14] trbedwards commented on #585
Ah, that would be why. It works when I install directly from github. Thanks!

[2017-06-04 10:14] #585 closed

[2017-06-04 11:01] trbedwards opened #586 "Missing support for inner classes"
I cannot compile a python script with inner classes. For example, in my `voc_test.py` file:

[code]

I invoke `voc voc_test.py` and get this error:

[code]

I am using python 3.5 and the latest master version of voc

[2017-06-04 11:05] trbedwards commented on #586
For context, I'm trying to compile [`dateutil.parser`](https://dateutil.readthedocs.io/en/stable/parser.html)

[2017-06-04 11:28] trbedwards commented on #533
I can confirm this is an issue with the latest master version of voc and python 3.5.

I can get around the issue by adding a return line after the except block, like this:

[code]

[2017-06-04 18:08] eliasdorneles commented on #586
Thanks for reporting!
The solution to this is to add an `add_class` method to [`Class` class in the klass.py file](https://github.com/pybee/voc/blob/e7479dc3dbd0051a69ed3876fbdc9d20683bd553/voc/python/klass.py#L19) similar [to the one in module.py](https://github.com/pybee/voc/blob/e7479dc3dbd0051a69ed3876fbdc9d20683bd553/voc/python/modules.py#L177-L232).
Which is also quite similar to the one in

[2017-06-07 10:49] dimaqq opened #587 "Consider a better name?"
Is it just me, or is VOC immediately associated with slavery / private army as much as global commerce / international company funded by private capital?

Could there perhaps be a better name?

[2017-06-12 07:13] mcfongtw commented on #36
Working on arithmetic operation for (bool ^ int); #588

[2017-06-13 14:42] #533 closed

[2017-06-21 09:25] tulikaiam commented on #212
@freakboy3742 Can you help me out how to start off with it

[2017-06-23 06:02] uranusjr opened #595 "bytes.__iadd__ has different behaviour in Python 3.6 and <3.6"
Up until Python 3.5.x there is a bug in `bytes.__iadd__` that raises TypeError with incorrect error message. [This is fixed in 3.6](https://github.com/python/cpython/pull/709), but causes tests to fail in #593. How do I resolve this?

[2017-07-21 10:36] eliasdorneles commented on #595
Hi @uranusjr -- sorry for the delay!
I think we don't need to replicate CPython bugs in VOC -- considering we're looking at the future here and VOC is in its early days. =)

So in the cases where the implementations are buggy for some lower CPython versions, we can ignore the test in the buggy versions.
Preferably this decision would be documented in the code, so that we can change it in the futur

[2017-07-31 16:48] sj175 commented on #36
Working on BinaryStrOperationTests.test_modulo_bool.

[2017-08-01 06:31] #432 closed

[2017-08-02 06:41] chandlerbaggett commented on #38
I would like to work on this if possible.. I have some experience in Java and Python. Thanks, Chandler

[2017-08-02 08:45] chandlerbaggett commented on #212
@freakboy3742 I'd be interested and have a ton of free time at the moment for labor-intensive coding. What pointers would you have? I have everything installed as well as having completed the tutorial.

Regards,
Chandler

[2017-08-02 09:44] freakboy3742 commented on #212
@chandlerbaggett Whenever a method is exposed to the Python namespace, you'll see an annotation on the method (see [this one](https://github.com/pybee/voc/blob/master/python/common/org/Python.java#L335) for abs()). This applies to every method in the builtins, plus all the methods on individual datatypes (like list()). These need to be updated to reflect the API and documentation that is exposed b

[2017-08-03 07:29] chandlerbaggett commented on #212
@freakboy3742 Seems simple enough. I'll take a shot today and over the weekend to get all of the args defined. Thanks for explaining it for me.

Regards,
Chandler

[2017-08-03 21:35] JasonHammond commented on #36
Hello! First-timer here. I'd like to take a stab at InPlaceIntOperationTests.test_add_complex and InPlaceIntOperationTests.test_subtract_complex.

[2017-08-07 00:12] Venergon commented on #36
I'll try working on test_floor_divide_float.

[2017-08-07 01:27] miscoined commented on #36
Trying `InplaceIntOperationTests.test_multiply_str`

[2017-08-07 01:35] Vivi-yd commented on #36
Trying to do `test_set.InplaceSetOperationTests.test_xor_frozenset`

[2017-08-07 02:11] Vivi-yd commented on #36
Will be doing `test_set.BinarySetOperationTests.test_xor_frozenset` first :)

[2017-08-07 02:54] nickyringland commented on #36
Trying `test_int.InplaceIntOperationTests.test_multiply_list`

[2017-08-07 02:55] Bruce1979 commented on #36
Trying `test_int.InplaceIntOperationTests.test_multiply_tuple`

[2017-08-07 03:39] hazzashirt opened #610 "Testing suite fails for str"
In Windows 10 64-bit: When running the test suite via the cmd (>setup.py test...) or via Cricket, test_str in all suites fails with the following error:

`AssertionError: '>>> [321 chars]abs\n>>> x = "Mÿ hôvèrçràft îß fûłl öf éêlś"\n[319 chars]==\n' != '>>> [321 chars]abs\n<class \'UnicodeEncodeError\'> : \'charma[341 chars]==\n'`

More details:
`tests.builtins.test_any.BuiltinAnyFunctionTests.tes

[2017-08-07 03:40] AlexN34 commented on #36
I'm having a go at `test_modulo_int`

[2017-08-07 04:00] hazzashirt commented on #36
Attempting `test_moldulo_range (tests.datatypes.test_str.BinaryStrOperationTests.test_modulo_range)`

[2017-08-07 07:24] auscompgeek commented on #36
Taking a couple of `InplaceBoolOperationTests`: `test_subtract_bool`, `test_subtract_float`, `test_subtract_int`.

[2017-08-08 00:36] niconorsk commented on #350
The above code exposes __class__ and sets __name__ correctly for classes

It fails on this however:
`E   AssertionError: "<class 'test.MyClass'>\nMyClass\n===end of test===\n" != "<class '__main__.MyClass'>\nMyClass\n===end of test===\n"
E   - <class 'test.MyClass'>
E   ?         ^^^^
E   + <class '__main__.MyClass'>
E   ?         ^^^^^^^^
E     MyClass
E     ===end of test===
E    : Global contex

[2017-08-08 03:18] chandlerbaggett commented on #212
@freakboy3742 Or not an example, but which builtins might need it? I see where some of them throw an unimplemented error but I'm not exactly sure how to implement those that are listed.. I'd like to contribute so any tips/hints would be greatly appreciated.

Thanks!
Chandler

[2017-08-08 05:01] uranusjr commented on #595
Fixed in #607?

[2017-08-08 05:01] #595 closed

[2017-08-08 08:23] goanpeca commented on #36
Working on [InplaceIntOperationTests](https://github.com/pybee/voc/pull/621)

- [x] test_modulo_complex
- [x] test_modulo_float
- [x] test_multiply_bytearray
- [x] test_multiply_bytes
- [x] test_multiply_complex
- [x] test_multiply_float
- [x] test_multiply_list
- [x] test_multiply_tuple
- [x] test_power_complex
- [x] test_true_divide_complex

[2017-08-08 12:52] eliasdorneles commented on #212
Hi @chandlerbaggett ! I believe all builtin methods in that Python.java file have already the proper annotations -- so they're good examples on how annotations are supposed to be used.

You'll find code that need updating in the classes implementing types here: https://github.com/pybee/voc/tree/master/python/common/org/python/types

Many methods have annotations with empty docstrings (search for `

[2017-08-09 07:05] chandlerbaggett commented on #212
@eliasdorneles @freakboy3742 All is clear! For clarification, though: sometimes the __doc__s will be surrounded by quotations and other times will be surrounded by apostrophes. Is it a big deal that we keep these consistent with the Python 3 shell prompt? I noticed that all of the __doc__ declarations in VOC's code have "" waiting for us so I've just been using quotations for all of them. Wanted t

[2017-08-10 01:45] goanpeca opened #624 "Check test/utils.py for floating points substitutions"
After https://github.com/pybee/voc/pull/621

Take a look at https://github.com/pybee/voc/blob/master/tests/utils.py to find why substitutions where needed on the Int tests.

[2017-08-10 03:42] auscompgeek commented on #486
Having Bool inherit from Int would likely simplify the implementation, however.

[2017-08-10 06:41] Zac-HD commented on #580
Hi!  I'm a maintainer of Hypothesis, and discussed using it to test VOC and Batavia with Russel (@freakboy3742) at the PyConAU sprints.

I've got more than enough to do working on Hypothesis itself, but would be delighted to consult, mentor, teach, or assist anyone who wants to use it to test beeware things.  Just \@-mention me, and I'll answer!

[2017-08-10 08:17] uranusjr commented on #486
@auscompgeek Yes, and that applies not only to bool and int, but also a lot of other types. bytes/bytearray comes to mind, float and int share similarities, and many collection classes likely do as well. But those are just implementation, and can be refactored at any time.

[2017-08-11 00:49] goanpeca commented on #36
Working on BinaryBoolOperationTests for type bool

[2017-08-11 22:26] goanpeca opened #627 "When using voc with a single file and output folder, an extra python folder is created"
Running
[code]
Results in
`/pybee/voc/build/java/python/asyncio/python/constants.class`

instead of
`/pybee/voc/build/java/python/asyncio/constants.class`

[2017-08-12 01:00] #586 closed

[2017-08-12 05:10] abhinavralhan commented on #74
hey @freakboy3742 , is this issue still open?

[2017-08-12 08:21] freakboy3742 commented on #74
@abhinavralhan Yes - there's still plenty to implement in the standard library.

[2017-08-12 09:51] abhinavralhan commented on #74
@freakboy3742 I would totally like to help. This would be my first contribution. Could you give me some pointers to get started?

[2017-08-12 17:42] freakboy3742 commented on #74
@abhinavralhan If this is your first contribution, I'd suggest starting somewhere else that will be a little easier. Our [getting started guide](https://pybee.org/contributing/how/first-time/what/voc/) for first time contributors lays out a suggested first contribution; once you've done that first exercise, more advanced issues like this one will make a lot more sense.

[2017-08-13 05:42] simsausaurabh commented on #576
`voc/python/common/org/python/types/ByteArray.java` is one among which supports `__getitem__`..
I am currently working on this to support negative slicing.
Thank you.

[2017-08-17 21:27] pwillcode commented on #610
The problem here appears to be rooted in the environment. Specifically, the codepage of the console (terminal) is not utf-8.
I can't be 100% sure of this, since I do not have Windows 10, however see this [SO answer](https://stackoverflow.com/questions/14284269/why-doesnt-python-recognize-my-utf-8-encoded-source-file/14284404#14284404) for a similar situation. If you have Windows 10, feel free to t

[2017-08-20 14:45] simsausaurabh commented on #492
@eliasdorneles sir
tutorial is correct in sense what has to be the actual output- `the generation of .class file` but as @pcsteppan mentioned `Adding default main method...` is not coming in terminal.
I am using - `Linux saurabh-HP-Notebook 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`.
and this line is not getting printed in terminal.
Thank you.

[2017-08-20 22:27] janmax opened #638 "test_modulo_int for BinaryStrOperationTests passes although edge cases are not taken care of"
Hi,

I just stumbled over this project and decided to take some first steps towards contributing to it - first time contribution to a project. So go easy on me if I got something completely wrong here. I wanted to implement some method for the `org.python.types.Str` class and got a little lost:

While executing the following code in Python 3.4.4 I can see various types of errors for a `str % int`

[2017-08-21 06:42] freakboy3742 commented on #638
You're completely correct - the test case in #616 does little more than fix a very simple case. The mod operator on string isn't a simple problem, because you have to implement the full `%` parsing and substitution engine implemented by Python (to say nothing of the `format()` method).

Batavia (VOC's sibling project for working in Javascript) has an implementation that is much more complete, than

[2017-08-21 11:37] janmax commented on #638
Thanks for your reply! I just started working on it (I'll link this issue in #36). As my main resources I already used:

* [The Python specification for printf formatting](https://docs.python.org/3/library/stdtypes.html#old-string-formatting)
* [The Java 8 specification on java.util.Formatter](https://docs.oracle.com/javase/8/docs/api/java/util/Formatter.html)
* and maybe [the actual CPython imple

[2017-08-21 11:40] janmax commented on #36
Working on the `test_modulo_*` tests in BinaryStrOperationTests. The corresponding InplaceStrOperationTests would be solved by this as a corollary. Also see #638 for details.

[2017-08-21 19:39] uranusjr commented on #638
@janmax The `str.__mod__` implementation of Python 3 is `PyUnicode_Format` in `unicodeobject.c`. The file you referenced is from the old Python 2 tree (which is now called `bytesobject.c`).

https://github.com/python/cpython/blob/v3.6.2/Objects/unicodeobject.c#L14861

[2017-08-22 14:18] uranusjr opened #640 "Is the checkstyle job on CI broken?"
Running `ant checkstyle` locally now generates errors:

[code]

None of those are reported by the CI. I don’t have enough knowledge on either Ant, Checkstyle, or Beekeeper, but this smells wrong to me…

[2017-08-22 16:00] cflee commented on #640
Great spot! Yes, I do see that from `ant checkstyle` on current master (862b4ed9) and the latest PR commit before that (fcb5df71)!

I initially thought this is due to the checks not being run properly in #630 before merge, but the `Slice.java` lines [are from #629](https://github.com/pybee/voc/pull/629/files#diff-a72dfdbdf46b04fd4312182925b36a68R39), and Beekeeper [reports the task passed](https:/

[2017-08-24 16:33] janmax commented on #36
Done.

- [x] 'test_modulo_bool',
- [x] 'test_modulo_bytes',
- [x] 'test_modulo_bytearray',
- [x] 'test_modulo_complex',
- [x] 'test_modulo_dict',
- [x] 'test_modulo_float',
- [x] 'test_modulo_frozenset',
- [x] 'test_modulo_slice',
- [x] 'test_modulo_list',
- [x] 'test_modulo_None',
- [x] 'test_modulo_NotImplemented',
- [x] 'test_modulo_set',
- [x] 'test_modulo_str',
- [x] 'test_modulo_tuple',
- [x

[2017-08-26 01:52] #638 closed

[2017-09-05 07:39] uranusjr opened #649 "[Proposal] Have a Java inheritance chain for standard types implemented"
Currently (almost) all types inherit from `org.python.types.Object`. While this reflects the inheritance chain on the Python side (most types inherit from `object`), this makes the implementation unnecessarily difficult, and require a lot of duplicate code because we can’t really utilise Java polymorphism idioms, such as Generics and Interfaces. This is most problematic in collection types, but al

[2017-09-10 09:47] cflee commented on #649
This is a very interesting idea. Interfaces certain seem like they could be very useful, as long as we can contain and prevent them from exploding in number with some careful design...

[2017-09-10 14:18] freakboy3742 commented on #649
This definitely looks like something worth exploring - although I suspect the devil will be in the details.

Have you got any concrete ideas for how to implement this? It is a case of picking features one at a time and interfacing/inheriting them until everything is cleaned up?

[2017-09-10 16:50] uranusjr commented on #649
Not really, what I currently have in mind is to loosely follow the collection ABCs, implementing what we think is good along the way. Classes that can provide the most benefits right now IMO are Iterable  (#645 and a lot of other similar code would benefit) and ByteString (Bytes and Bytearray rightly share most of their implementation). Another one I can think of is the number classes (#582).

[2017-09-13 18:09] uranusjr opened #652 "Int needs to support value > Long.MAX_VALUE"
Just want to get it out here…

The naive implementation would be simply use `BigInteger` as the internal representation, but that’s probably not ideal because performance? But on the other hand maybe it’s too early to worry about premature optimisation?

[2017-09-14 18:53] uranusjr commented on #624
I stumbled into this while working on #651. `BinaryIntOperationTests` didn’t need the substitutions, but fails without them after 6deffcf63a31a0. The implementation is the same, all I did was refactoring them into a helper class (to share them with `Bool`). Very mysterious.

[2017-09-14 19:00] goanpeca commented on #624
Then we can close this after you PR is finished :-) ?

[2017-09-15 07:01] uranusjr opened #653 "Look into cleaning up __xxx___ and __rxxx__ accross types"
Another thing on my own todo list…

It seems some operations in CPython are provided by __rxxx__, but this is not followed. So currently there are snippets like

[code]

but the correct implementation would be (taking `__mul__` for example, but the same applies for all binary operations)

1. Check whether LHO implements `__mul__`, fallback to `Object.__mul__` if not handled. Fallback to `Object.__

[2017-09-20 19:38] grigardiyan opened #654 "Insufficient resources to learn"
Where can I find sample programs developed using this project?

[2017-09-20 22:21] #654 closed

[2017-10-02 01:29] DemiMarie commented on #652
On Android (with its AOT compiler) there is probably not much we could do, though we could provide a mode that throws on overflow instead.  On HotSpot or J9, the best option is to deoptimize the code when overflow takes place.

[2017-10-02 01:30] DemiMarie commented on #587
@dimaqq I agree.

[2017-10-02 01:50] eliasdorneles commented on #587
As one data point: personally, I don't have that association at all, mostly because when I learnt about Dutch East India Company in school, it was never referred to its Dutch name nor its acronym.

The C in VOC for me will always stand for Compiler. :)

Vanguard Obscure Compiler
Virtuous Output Compiler
Viable Okay Compiler
Very Odd Compiler
Various Objects Compiler
Verbose Obsessive Compiler
...

[2017-10-03 07:30] thehungrysmurf commented on #36
Working on the binary slice comparison operations: `test_eq_slice`, `test_gt_slice`, `test_le_slice`, `test_lt_slice`.

[2017-10-07 01:14] thehungrysmurf commented on #36
In addition to the functions listed above, also addressed in https://github.com/pybee/voc/pull/658:

- [x] 'test_direct_eq_slice'
- [x] 'test_direct_ge_slice'
- [x] 'test_direct_gt_slice'
- [x] 'test_direct_le_slice'
- [x] 'test_direct_lt_slice'
- [x] 'test_direct_ne_slice'
- [x] 'test_ne_slice'

[2017-10-09 17:26] joanasouza commented on #36
Working on bytes.isalnum

[ ] test_isalnum

[2017-10-09 17:26] gabrielecker commented on #36
Working on the following from BinaryBytesOperationTests:

'test_direct_eq_bytearray'
'test_direct_eq_none'
'test_direct_ge_bytearray'
'test_direct_ge_none'
'test_direct_gt_bytearray'
'test_direct_gt_none'
'test_direct_le_bytearray'
'test_direct_le_none'
'test_direct_lt_bytearray'
'test_direct_lt_none'

[2017-10-09 18:03] ArturGaspar commented on #36
Working on InplaceBoolOperationTests 'test_modulo_bool', 'test_modulo_float', 'test_modulo_int'.

[2017-10-09 18:19] tapumar commented on #36
Working on ByteArray.capitalize

[2017-10-11 18:33] ArturGaspar commented on #38
Working on bytes.endswith.

[2017-10-15 02:53] joanasouza commented on #38
Hey, i'm working on bytes.zfill

[2017-10-15 03:15] eliasdorneles commented on #653
I agree that this should be addressed, but I'm not sure if I understand the proposal. Can you point to a reference that indicates that is the correct behavior?

I thought if `__mul__` returned `NotImplemented`, then `__rmul__` would be attempted.

[2017-10-15 18:18] eliasdorneles commented on #532
When i think about it, we could have better output for all test failures, not only the ones with exceptions.
I often find myself having to think hard to see which output is VOC's and which is CPython, in the case where no exception was thrown.
Instead of just a diff, we could have a message like:

[code]

[2017-10-15 19:29] eliasdorneles opened #677 "Support long and double types in annotated methods"
Currently VOC doesn't generate correct bytecode for methods annotated with type `long`.

For this input:

[code]

When running with VOC, we get:

[code]

[2017-10-15 19:32] eliasdorneles commented on #677
I dug this a bit deeper some time ago (I had help from Allison Kaptur which helped me a lot to understand), and tried to change [this part of the code](https://github.com/pybee/voc/commit/71ded21287f065ef8002d7e07ce18a4d68b447c7#diff-0e73d813f142357667b2d4eac7aed22eL236) to do what we thought would be the right thing.

I tried digging this further on my own but I'm stuck -- it's hard to write a te

[2017-10-17 15:58] hemanthsavasere commented on #74
Hi @freakboy3742,

Is this bug assigned to anyone ?

thanks,

[2017-10-18 00:30] freakboy3742 commented on #74
@hemanthsavasere This isn't a bug that is going to be assigned to a single person - there's a *huge* amount of work that needs to be done. This ticket is just for coordination purposes, so we don't end up with multiple people working on the same part.

So - pick a part of the standard library (i.e., a specific module, like `collections` or `httplib`), drop a comment here that says what you're doin

[2017-10-25 12:42] sairajsawant commented on #38
This would be my first open source contribution. Can I work on str.rsplit()....?

[2017-10-25 13:51] sairajsawant commented on #38
This would be my first open source contribution.Can I work on str.rsplit()?

[2017-10-25 14:03] sairajsawant commented on #38
This would be my first open source contribution. Can I work on str.rsplit()?

[2017-10-25 23:38] freakboy3742 commented on #38
@sairajsawant Any method that isn't already implemented, and hasn't been claimed by someone else in the last few days is fair game - so by all means, implement `str.rsplit()`!

[2017-10-26 02:45] sairajsawant commented on #38
I'm working on `str.rsplit()` !

[2017-10-27 12:25] onyb opened #683 "Support for if conditions in list comprehensions"
Currently VOC supports `list` (and also `set`, `dict`, `generator`) comprehensions, but ignores any `if` conditions present.

**Excepted result:**
[code]

**Current result in VOC:**
[code]

I am interested in working on a fix, but would need some pointers.

[2017-10-27 12:48] eliasdorneles commented on #683
Thanks for reporting @onyb, indeed list comprehensions are missing some features !

Support for list comprehensions is implemented in [the `visit_ListComp` method](https://github.com/pybee/voc/blob/efc121a2a112b458a66b3ce39bccb55a78197856/voc/python/ast.py#L1175) of the ast visitor class.

From a quick glance, I believe [these lines](https://github.com/pybee/voc/blob/efc121a2a112b458a66b3ce39bccb5

[2017-10-27 12:51] eliasdorneles opened #684 "Support for multiple generators in list comprehensions"
Currently, list comprehensions aren't supporting multiple generators.
For the following sample code:

    [str(i) for L in [[12, 3], [4, 5]] for i in L]

The expected output (CPython 3.5) is:

    ['12', '3', '4', '5']

Attempting to compile with VOC we get an error:

[code]

[2017-11-01 13:33] #683 closed

[2017-11-01 13:47] eliasdorneles opened #689 "Document how to write Python code to be callable from Java"
It would be good to have a section in the documentation that showed how to write Python code to be callable from Java -- namely, how to do [the tricks used by toga-android in code like this](https://github.com/pybee/toga/blob/feb24b84470a478ecf330072115a134412722f07/src/android/toga_android/container.py#L2-L14)

We have tests for these in [tests/structures/test_extends.py](https://github.com/pybee

[2017-11-01 23:35] freakboy3742 commented on #689
+1 Completely agreed. More documentation in general would be great; but documenting the basic "how to Java in Python" would be a great start.

[2017-11-02 22:37] eliasdorneles commented on #689
Also [the `@super({...})` trick to create Java-compatible constructors](https://github.com/pybee/voc/blob/90fc07386bae942b7eb499ba98792fb5c75d8121/voc/python/ast.py#L1008-L1025).

(sorry for being noisy, I'm just jotting notes here so I don't forget later. :)

[2017-11-06 07:15] SanketDG commented on #76
Is this issue done now?

Looks like all the builtins have been implemented as I see none with `NotImplementedError`

[2017-11-06 15:18] vaibhavsingh97 commented on #684
@eliasdorneles Can i take up this issue?

[2017-11-06 18:48] eliasdorneles commented on #684
@vaibhavsingh97 yes, that's what the up-for-grabs label is for -- feel free to send a PR :)

[2017-11-09 14:51] whydoubt commented on #337
I don't know about Your-first-VOC-contribution.md (is that an older file? a generated file? somewhere I'm not looking?) but https://github.com/pybee/pybee.github.io/blob/lektor/content/contributing/how/first-time/what/voc/contents.lr seems to contain the relevant text.  It appears that it is now referencing a particular commit, to avoid the shifting line problem.

I think this particular issue sho

[2017-11-10 18:11] SanketDG commented on #212
I see most builtins for this issue has been implemented, anything worth looking at?

[2017-11-10 20:27] eliasdorneles commented on #212
Hm, this seems to be already done, I think we can close it.

Please feel free to reopen it in case I'm missing something.

[2017-11-10 20:27] #212 closed

[2017-11-11 10:12] eliasdorneles opened #699 "Automate release process to run in a BeeKeeper task"
Ideally the releasing proceedure would be like:

1) update release notes
2) run a bump version script to bump version and create the proper tags
3) run `git push; git push --tags` -- and these would trigger the release in CI

[2017-11-11 10:38] eliasdorneles commented on #699
Some details on how I think this would work:

We would add a script for bumping the release numbers, commiting and tagging (I've used [`bumpversion`](https://pypi.python.org/pypi/bumpversion) successfully in the past for several projects, but i don't know if it fits our requirements, notably regarding multiple tags and release numbers -- we may want to create our own).

We would [add a task for be

[2017-11-14 23:24] eliasdorneles commented on #640
@cflee this can be closed, right?

[2017-11-15 01:08] Stewori commented on #406
Note that we used to have a similar issue with Jython. It hindered workability of a couple of frameworks, e.g. SymPy or PyOpenGL. We are now using CPython bytecode for such cases. It's not very efficient, but oversized functions are usually rare enough to let this work properly.

[2017-11-15 01:39] cflee commented on #640
I think it is fixed but I haven't explicitly tested if it's been deployed!

[2017-11-18 02:35] hcheng761 commented on #36
First time contributor here, will work on test_subscr_bool in BinaryStrOperationTests

[2017-11-24 05:47] cflee commented on #337
The [Your First VOC Contribution](https://pybee.org/contributing/how/first-time/what/voc/) page on pybee.org (which the README now links to, instead of the previous markdown file in this repo) now links to a specific commit, so this is resolved indeed.

Thanks @whydoubt!

[2017-11-24 05:47] #337 closed

[2017-11-24 06:09] cflee commented on #640
Actually, there seems to be another issue apart from pybee/beefore#14 that I just opened -- if you look at #706, javacheckstyle is passing on db27983 even though the `if` statement doesn't have a space before the opening curly brace.

[2017-11-27 22:08] hcheng761 commented on #38
Is `str.rsplit()` still taken? If not, I would like to try it.

[2017-11-28 18:49] derEisele opened #708 "Dex error on building for Android with briefcase"
When I build an app for android with briefcase, I get the following error
[code]
Voc version: 0.1.5

**Workaround:**
By @eliasdorneles
This uses the previous version of the Android Support package
`python setup.py android --support-pkg https://pybee-briefcase-support.s3-us-west-2.amazonaws.com/Python-Android-support/3.5/Android/Python-3.5-Android-support.b5.tar.gz`

[2017-11-29 01:02] #352 closed

[2017-11-29 01:09] freakboy3742 commented on #708
It appears the b6 support build has some issues that didn't show up in testing. We've just deleted this support package; we'll push a new update soon.

[2017-12-03 14:55] siddharthkawar91 commented on #36
First time contributor. I will work on test_subscr_slice in BinaryStrOperationTests

[2017-12-09 14:33] shreyateeza commented on #554
Can anyone please tell me how does this round function works so that I can help in correcting this bug.

[2017-12-09 22:41] siddharthkawar91 commented on #36
I am working on test_subscr_slice. I made the changes and starting running the test.
I execute below command `python setup.py test -s tests.datatypes.test_str.BinaryStrOperationTests.test_subscr_slice` and the test were successful with no FAILED.
now when I run full tests using the command `python setup.py test`
The test run to the completion and at the end it ends by outputting `FAILED (expected

[2017-12-09 22:47] freakboy3742 commented on #36
@siddharthkawar91 In this case, you're not looking for a failure. "Unexpected success" is actually a *bad* thing - it's indicating that something has passed when it shouldn't have (according to the test suite, anyway). So, you're not looking for a failure - you're looking for a success that shouldn't exist.

When you're working on operators, it's easy to inadvertently fix two bugs when you were on

[2017-12-09 22:54] siddharthkawar91 commented on #36
thanks for replying so promptly.
Okay I understand from your above comment that the test ended with `FAILED` rather than `Ok` because I accidentally fixed other tests and that is why it is showing failed. So my next step should be to find the test which I accidentally fixed remove that from the not_implemented list and then rerun again and if it behaves as expected than it will end with `OK` rathe

[2017-12-10 13:13] eliasdorneles commented on #554
@shreyateeza check the documentation for rounding in Python 3: https://docs.python.org/3/library/functions.html#round

What we're missing is the implementation for rounding integers, which would go in here: https://github.com/pybee/voc/blob/cad52e31d005e9c1139daf5c378d79ab4ba0a61e/python/common/org/python/types/Int.java#L867

Instead of just returning another Int object with the same value, it sho

[2017-12-10 18:37] siddharthkawar91 commented on #36
I tried to fix the test_subscr_slice funtion in tests.datatypes.test_str.BinaryStrOperationTests after I run the result I found unexpected success in test_tuple (tests.builtins.test_set.BuiltinSetFunctionTests). I tried to debug this but no luck so far. Please guide me to solve this problem.

[2017-12-11 00:23] siddharthkawar91 commented on #36
I ran the below command without my changes  `python setup.py test -s tests.builtins.test_set.BuiltinSetFunctionTests.test_tuple`.. This command resulted in unexpected success. Also, I want to bring to your notice if you ran the below command `python setup.py test -s tests.builtins.test_set.BuiltinSetFunctionTests.test_str` this resulted in expected failure. I printed out the output from python and

[2017-12-11 20:11] eliasdorneles commented on #36
@siddharthkawar91 maybe it will be easier to discuss the problem if you send a PR saying it's a work-in-progress and then we can look at it?

[2017-12-18 20:02] starlord1311 commented on #568
@eliasdorneles can i take up this issue?

[2017-12-27 22:30] Dayof opened #717 "Regression : generation expression inside class crashes"
Error found on version 0.1.5 and master version. Works on 0.1.4.

[code]

[code]

[2017-12-29 08:40] Rushane commented on #36
Hey there, first time contributor. Are there any data types left that I could work on ?

[2017-12-29 09:10] auscompgeek commented on #36
Welcome @Rushane! There's certainly plenty of unimplemented operations on the various data types left. For example, I see a lot of tests listed in `not_implemented` in `test_complex.py` and `test_float.py`, and a few others listed in various places like `test_dict.py`.

[2017-12-29 10:14] drurenia commented on #538
This would be my first contribution. Can I grab this one?

[2017-12-29 11:40] eliasdorneles commented on #538
Sure, go ahead. :)
Note that this is the kind of thing that will be good for you to gather feedback early in the process.
So don't hesitate in sharing your work when you think you're 30% done, so that we can try it out and discuss it.

[2017-12-29 16:09] Rushane commented on #36
Okay, thank you. Will check them out

[2017-12-29 22:52] drurenia commented on #538
Great! I’ll do it no problem. When ready should I share it via PR?

[2017-12-29 22:57] eliasdorneles commented on #538
Yes. :)

Le 29 déc. 2017 11:52 PM, "Diego Urenia" <notifications@github.com> a
écrit :

[2018-01-08 17:08] lumingc commented on #36
Working on str.__rmul__() and test_rmul

[2018-01-11 13:33] Vab-jain opened #722 "Error: can't find class file while running the class file on java"
Following the tutorial, after running VOC over example.py, the next command i.e.
`$ java -classpath ../voc/dist/python-java-support.jar:. python.example`
gives the following error:

[code]

When used with `-v`, it gives:
`Error: Could not find or load main class ...voc.dist.python-java-support.jar:.`

But the file "python-java-support.jar" exist at the given location.

[2018-01-11 14:59] eliasdorneles commented on #722
Which operating system are you running?

[2018-01-11 15:51] Vab-jain commented on #722
Ubuntu 16.04

[2018-01-11 19:52] eliasdorneles commented on #722
Right, I see now from the stacktrace that you seem to be using Azul's Zing JVM.
That isn't recognized as a platform by [the current code](https://github.com/pybee/voc/blob/master/python/common/python/platform.java#L24-L30), hmm, we need to fix that.
I'm using OpenJDK, and `java.vendor` is printing `Oracle Corporation` (which is a bit unexpected, since this isn't Oracle's official JDK).

Anyway, I

[2018-01-12 08:44] #722 closed

[2018-01-12 08:45] uranusjr commented on #722
@eliasdorneles OpenJDK *is* developed by Oracle, after all…

[2018-01-20 21:36] fyookball opened #725 "Unable to import VOC-created jar file into android studio"
Total VOC noob here.

I created a python file that has a single function that returns an integer.

I used VOC to compile this into a class file, and then used the jar tool to put this into a jar file.  Then, I included this jar as a dependent file in a hello world android studio project, but it doesn't compile.

https://i.imgur.com/IsAwU5N.png

[2018-01-21 17:40] eliasdorneles commented on #725
I'm not sure if I understand exactly what are you trying to do.
I haven't tried importing a jar file with VOC compiled classes before in
Intellij, but that's an interesting experiment!

I don't know if it would work (because the bytecode we generate is quite
different from a Java compiler).

One thing you would have to do to be able to call it from the Java side is
to use type annotations, with th

[2018-01-21 19:38] fyookball commented on #725
@eliasdorneles What am I trying to do?  I'm trying to have python code get turned into usable java for an android app..is that the point of VOC? (or one of the use cases).

How I built the jar file:  I simply used the jar command on the command line on the class file.

[2018-01-26 10:17] hogesonline commented on #554
Hi, I think this issue is under-stated because "round" seems to only return the integer value at all because that's all math.round does in Java.

[2018-01-26 14:19] uranusjr commented on #554
@hogesonline VOC’s round implementation doesn’t have to have anything to do with Java’s, and the current implementation doesn’t use `Math.round` either. It’s just not implemented correctly.

[2018-01-26 15:42] abhayptp commented on #554
#724 I have implemented it here.

[2018-01-26 17:31] tazitus opened #726 "Error while compiling urllib3 dependency"
[code]

[code]

[2018-01-26 17:48] eliasdorneles commented on #726
Yeah, this is a known bug.

This is a pretty interesting issue, I've tried tackling it before but ended up not going too deep.
Basically, the main thing here is that Python accepts any expression as an exception type to be caught by the `except` clause.

The [current implementation of the `except` clause handler in VOC](https://github.com/pybee/voc/blob/cdbf3ffb59b9526af2bb48371cffee5a45d32139/voc

[2018-01-26 18:18] uranusjr commented on #726
Semi-related question, would `zlib.error` end up inside JVM’s exception table after compilation? Can it? Because that way we can get its class ref here (is this possible?) and use it instead.

[2018-01-26 19:09] eliasdorneles commented on #726
I don't think so, I think the zlib.error case would be handled by generic
expression handler, probably with org.python.exceptions.Exception in the
JVM table.

The compilation should probably only make those kinds of assumptions for
exceptions/classes that are declared in the VOC codebase.

Le 26 janv. 2018 7:18 PM, "Tzu-ping Chung" <notifications@github.com> a
écrit :

Semi-related question, would

[2018-02-13 07:49] BLaAckRose commented on #38
str.rsplit() is taken?If yes allow me to help

[2018-02-13 08:35] SanketDG commented on #38
`str.rsplit()` was implemented a long time ago.

As per the source file, the following methods are not implemented ( some of them are tricky enough and require a universal implementation ):

[code]

[2018-02-17 01:01] Sammyalhashe commented on #36
Going to start working on str.istitle()

[2018-02-20 15:50] akarshsingh9 commented on #74
Would like to get started. Where to start from?

[2018-02-20 19:32] Deepayan-Ghosh commented on #36
Hii there, first time contributor. I looked into ```test_float.py``` and found ```test_mul_frozenset``` as not implemented. So I added these two lines to ```Float.java```:
[code]
and got the same error as python 3 interpreter:
[code]
which previously gave a not implemented error. Am I in the right direction? Any advise is highly sought after since this is my first time contributing. Thank you.

[2018-02-21 10:46] eliasdorneles commented on #36
@Deepayan-Ghosh hello, glad to see you want to contribute!
It's hard to give feedback without seeing the full context -- it's better if you send a pull request with your changes, then we can see it in context and add comments to point you in the right direction if necessary.

[2018-02-22 16:12] prithvisingh18 commented on #74
Hi , @freakboy3742 I have started working on `time` library, as most of it is not implemented.
After completing one of the function, I will put a Pull Request(For you to review).
By the way, I am a First Time Contribute.
Do I need to put an comment on #36 also, as requested in the starting guide.

[2018-02-24 11:13] BPYap commented on #36
Hi guys,
I've modified and submitted PR for Str.isprintable() such that this function return false if a character falls under the category **Other** or **Separator** in Unicode category (except space character)

[2018-02-24 17:12] TamsilAmani commented on #717
I'd like to work on this issue.

[2018-02-25 17:24] swetanjal commented on #684
@eliasdorneles I would love to work on this issues. But I am a first time contributor, so you need to help me out on how to go about doing it.

Let me know what to do next.

[2018-02-27 05:17] MuLx10 commented on #684
@eliasdorneles Can I take up the issue? Is it resolved?

[2018-02-27 07:41] student-06 opened #743 "Support for __radd__ feature."
I wrote this snippet for voc.
[code]
python gives output of ```15``` as expected but voc gives this,
[code]

There aren't any tests for the above the problem. I am first time contributor here. I want to work on this functionality for voc. Any suggestions regarding the same @freakboy3742  @eliasdorneles .

Thanks

[2018-02-27 07:56] uranusjr commented on #743
As you probably know already, `__radd__` on a type is called when a type does not implement (usually by returning `NotImplemented`) its `__add__` to handle the right-hand type. The problem is that [VOC’s `__add__` of `int` does not do that](https://github.com/pybee/voc/blob/c49d8f2/python/common/org/python/types/Int.java#L210). It simply raises a `TypeError` (the one you saw) if the right hand ope

[2018-02-28 00:28] eliasdorneles commented on #743
I'm aware of this problem, but I haven't really dug much on it yet so far.
I figure for these cases, after exhausting the list of known basic types, we would use the [Java Reflection APIs](https://docs.oracle.com/javase/tutorial/reflect/) to check if the object has the method and then call it. For solving this problem, you'd probably want to dive into [this `Function` class to see how Python funct

[2018-02-28 00:38] eliasdorneles commented on #684
So, this issue is not yet resolved (which is why it's still open), but it is a bit tricky for a first time contributor.

You'd need to get a bit familiar with the VOC internals, and learn [how to work with the code that generates Java bytecode](http://voc.readthedocs.io/en/latest/how-to/contribute.html#working-with-code-for-java-bytecode).

Other ways to get your feet wet with the bytecode stuff i

[2018-03-01 06:36] cflee commented on #653
There is [an additional case](https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types) at the start:

[2018-03-01 06:39] cflee commented on #743
Refs: #653

To do a 100% match, the magic methods would need to return `NotImplemented` instead of delegating to the reverse operand methods, and the logic to handle whether to call `__radd__` before or after `__add__` etc should be abstracted out of the individual datatypes implementations.

However, if we follow that assumption, the BinOp is being directly translated to the `left.__add__(right)`

[2018-03-01 09:00] MisterY opened #747 "Could not find or load main class"
This might be a silly question but I'm getting "Error: Could not find or load main class python.hello" no matter what I try.
Following the [Tutorial](https://voc.readthedocs.io/en/latest/tutorial/tutorial-0.html), I've installed VOC, using OpenJDK that comes with Android Studio
[code]
VOC is installed as per instructions, directly from GitHub. Virtualenv has been created and VOC installed via `pip

[2018-03-01 09:05] MisterY commented on #747
OK, last minute detail-check identifies the cause of the error:

- On Linux/OSX:
[code]
- On Windows:
[code]

I've typed the first command, using ":" instead of ";". :-S

[2018-03-01 09:07] MisterY commented on #747
That resolved my original problem but now a vendor is missing:
[code]
just like #722.

[2018-03-01 09:17] MisterY commented on #747
After the fix: Yay!
[code]

[2018-03-01 09:18] eliasdorneles commented on #747
Right, that `:` in Linux/Mac vs `;` in Windows is annoying!

About the vendor thing, since it seems there will be lots of these, maybe we should replace the code in https://github.com/pybee/voc/blob/e2fc0d2c542a7bb7a3b9ff636718d301d520affc/python/common/python/platform.java#L24-L32 for this:

[code]

Do you want to send a PR for that? :)

[2018-03-01 09:20] MisterY commented on #747
Yup. Just did.
Now off to trying out something more substantial. :D
I need to port a few libraries to Android.

[2018-03-01 09:24] eliasdorneles commented on #747
Awesome! :)
I've just added a comment there.

[2018-03-01 09:25] MisterY commented on #747
Great idea! I've rewritten that if tree as suggested.

[2018-03-01 09:58] #747 closed

[2018-03-01 20:20] Deepayan-Ghosh opened #750 "Unexpected result, when (0+0j) is raised to complex power of form (x+0j)"
I found some weird behaviour like if I write:
[code]
The python interpreter gives result ```0j``` while voc gives result ```(1+0j)``` and the reason for this can be found here: https://github.com/pybee/voc/blob/master/python/common/org/python/types/Complex.java#L450. If the base is 0, then raised to any permitted power should also result in 0. So the line ```r.real.value = 1.0;``` is wrong. What s

[2018-03-02 06:56] student-06 commented on #750
@Deepayan-Ghosh Hi, Please check this I may have fixed [this](https://github.com/pybee/voc/pull/751/files). Thanks for pointing it out.

[2018-03-02 19:15] sziraqui commented on #36
Hi, I am Sarfaraz. I am working on ByteArray comparison dunder methods (__eq__, __gt__, etc)

[2018-03-03 06:29] sziraqui opened #752 "`==` with bytearray and str behaves like python2, calls Str.encode() implicitly Refs#36"
While trying to implement `bytearray==str` in `ByteArray.__eq__` method I found python2 like behaviour.
This is the code I wrote:
[code]
This gave the following error
[code]
CPython3 will not call str.encode() implicitly.

Related reading-

[Python docs](https://docs.python.org/3.0/whatsnew/3.0.html#text-vs-data-instead-of-unicode-vs-8-bit)

[SO post](https://stackoverflow.com/a/30580865/6699069)

[2018-03-03 06:32] sziraqui commented on #752
#36

[2018-03-05 12:34] eliasdorneles commented on #752
Actually, `bytearray('abcd','utf-8')` is the equivalent to `bytearray('abcd'.encode('utf-8'))`.

See: https://docs.python.org/3/library/functions.html#func-bytearray

[2018-03-05 12:34] #752 closed

[2018-03-06 09:30] sziraqui commented on #36
Working on isalnum, isdigit and join methods of ByteArray

[2018-03-06 18:58] sziraqui commented on #38
working on join method of bytes and bytearray

[2018-03-07 06:38] BPYap opened #757 "Support for Unicode surrogate pairs"
In Unicode, characters from Supplementary Planes are encoded as two 16-bit code units called surrogate pairs (with high surrogate in the range of 0xD800\~0xDBFF and low surrogate in the range of 0xDC00\~0xDFFF).

In Python 3.6, these values are not printable, for example:
[code]

Currently, voc does not support surrogate pairs. I've created a test case in `tests\datatypes\test_str.py`:
[code]
The

[2018-03-08 01:03] cflee commented on #462
This was fixed in #541, closing.

[2018-03-08 01:03] #462 closed

[2018-03-09 16:12] sziraqui commented on #38
#760

[2018-03-11 12:01] BPYap opened #763 "[GSoC] Implement asyncio support"
# **Project Description**
Python 3.4 introduced asynchronous I/O support to the Python core language. Python asyncio module provides infrastructure for writing single-threaded concurrent code using coroutines, multiplexing I/O access over sockets and other resources, running network clients and servers, and other related primitives.

This project focus on implementing asyncio’s coroutine and event

[2018-03-11 15:24] uranusjr commented on #763
(Passing by here) I’m interested how the Windows-related stuff would be handled (if there are any… I’m not familiar how much of the Java standard library can be leveraged to handle platform-specific stuff). It would be extremely cool if you can pull it off. Some decisions might be required in order to decide what is public API and what is not; there are quite a lot of undocumented but public-looki

[2018-03-11 23:29] freakboy3742 commented on #763
@uranusjr Of the many problems with Java, cross platform is one of it's strengths. This is one project where there *shouldn't* be any major cross-platform issues; the behavior of networking etc in the Java standard library is consistent on all platforms Java supports.

[2018-03-12 00:15] freakboy3742 commented on #763
@BPYap This timeline looks really solid to me. 3 clear deliverables; the intermediate steps make sense, and the amount of time allocated to each step seem achievable (of course, the gods are now pointing and laughing at the humans making plans... 😄).

The only pieces needed to make this a compelling final proposal are:
1. Filling in the "more detail here" section in the project description
2. The

[2018-03-13 11:36] BPYap commented on #763
@freakboy3742 Thanks for your feedback! I finished the project description and added a risks section, let me know what you think 😄

[2018-03-13 19:58] ephrimlawrence commented on #36
Hi guys,first time contributor.
Am implementing Dict.keys() and Dict.values()

[2018-03-13 23:37] freakboy3742 commented on #763
@BPYap Honestly - this is looking pretty solid. You could probably submit it as-is and it would be a very competitive proposal.

The only suggestion I would have about making it stronger would be to discuss which parts will need to be built from scratch in Java, and which parts of Python's existing asyncio code can be re-used and cross-compiled. Are you going to have to build the entire event loop

[2018-03-15 14:08] jedie opened #766 "docker image"
Is there a docker image that contains a working VOC environment for development as described here: https://voc.readthedocs.io/en/latest/background/install.html ?!?

[2018-03-15 14:26] cflee commented on #766
I don't think so, but that would make an interesting contribution, if there aren't any existing images that already have the JDK, Python and Ant installed!

[2018-03-15 14:47] jedie commented on #766
Hm... OK, i will try it ;)

[2018-03-15 17:31] jedie opened #768 "module 'voc.java.__main__' has no attribute 'main'"
Calling `vod --version` results in **ImportError: module 'voc.java.__main__' has no attribute 'main'**
[code]

[2018-03-15 22:15] freakboy3742 commented on #768
Thanks for the report; we've neglected to add argparse handling to vod, so it's treating all arguments as class files. Should be an easy fix :-)

[2018-03-16 22:19] zsilver1 commented on #768
I'm working on a quick fix for this. I'm a first time contributor so I'm wondering what the description for the `vod` program should be in the argparser, and if there are any other arguments that need to be handled besides `version` and `-v`.

[2018-03-17 01:29] freakboy3742 commented on #768
@zsilver1 There's no additional arguments at the moment. `vod` is quick-and-dirty debugging tool; for the moment, the only arguments are `-v`, `--help` (which you get for free with argparse), and the class file to be decompiled.

[2018-03-17 07:12] BPYap commented on #763
@freakboy3742 I did some research this afternoon and have identified parts of asyncio library that I think could be reused:
 - `asyncio.base_futures` / `asyncio.futures`
 - `asyncio.base_tasks` / `asyncio.tasks`

For the above modules, I will be focusing on debugging voc to support their cross compilation during the weeks assigned for them.

For event loop, I plan to rewrite it in Java, as the mod

[2018-03-17 13:13] cflee commented on #766
For future visitors to this issue, please see discussion in #767 – @jedie is now continuing this at https://github.com/jedie/pybee-docker. Thanks!

[2018-03-17 13:13] #766 closed

[2018-03-17 15:03] freakboy3742 commented on #763
@BPYap Sure - that all makes sense. If you can integrate those details into the main proposal, that would be awesome.

One additional clarification: What about the socket layer? Are you going to be able to use Java's networking layer directly, or will you need a third party library?

[2018-03-18 12:15] BPYap commented on #763
Updated proposal. 😄

@freakboy3742 It seems Java socket class does not support Unix domain address family. Support for it requires a third party library. I'm thinking to support only the "generic" socket operation and operations specific to unix (i.e `create_unix_connection`) will not be implemented. So in the end, we will not have dependency on other third party library. Any thoughts?

[2018-03-19 03:45] akadidas commented on #627
I would love to work on this issue.

[2018-03-19 10:34] freakboy3742 commented on #763
@BPYap Ok - this is probably ready for you to submit as a final proposal to the GSoC website. I'm sure we'll continue to fine tune it if you get selected for the SoC, but you've definitely shown enough detail here to warrant solid consideration in the selection process.

[2018-03-20 14:11] akadidas commented on #627
Hi ,I am a first timer so please assist if anything goes wrong

 I found that the code in write function in transpiler.py was causing problem.

Here are the changes I made,

[code]

Now, It doesn't creates an extra python folder, Is this ok?

[2018-03-20 14:11] akadidas commented on #627
cc @freakboy3742

[2018-03-20 14:38] eliasdorneles commented on #627
@akadidas hello, thanks for the interest in contributing!
Can you please send a pull request with your changes?
It's hard to review code without the full context, that's what pull requests are for.

[2018-03-20 22:39] patiences opened #772 "[GSoC] Optimizing the VOC Compiler"
This proposal intends to improve the performance of VOC-generated bytecode by adding piecemeal optimizations and supplying type information to the runtime.

## Table of Contents
1. [Motivation](#motivation)
2. [Goals](#goals)
3. [Overview of Changes](#overview-of-changes)
4. [Considerations](#considerations)
5. [Proposed Timeline](#proposed-timeline)
6. [Risk Analysis](#risk-analysis)

## Motivati

[2018-03-20 23:56] freakboy3742 commented on #772
@patiences This is a really solid first draft - great work!

A couple of suggestions:

* It's great that you've included benchmarking in week 7; however, benchmarking is most useful when it's an ongoing measurement process. I'd suggest getting the benchmark situation sorted out *first*, so you can run the benchmark each week (or after each change) as a measure of ongoing progress.

* Interning str

[2018-03-21 07:03] patiences commented on #772
Ah, right!

Do you mean that python methods that operate on strings (Dict#__getitem__, for example?) should take java.lang.String strings instead?

Yeah, unfortunately I've seen multiple times that the performance gain was more of a theoretical advantage and has not been realized. :-( But wouldn't implementing StackMapFrames be a good idea since they are no longer optional in Java 8 -- is that a g

[2018-03-21 07:33] freakboy3742 commented on #772
Regarding strings: I was thinking that the potential optimisation is to completely remove any concept of an org.python.types.String, and replace them with java.lang.String (and similar with Integer, Boolean, and so on). Essentially, we'd be making a special case of Python primitive types, making them fall back to Java primitives.

The catch is that we'd need to provide all the utility methods that

[2018-03-21 08:17] patiences commented on #772
Does this mean that users that write Java extensions for their Python code also have to use Java 6 (I don't know how often this happens)? That seems a bit outdated, I personally can't imagine writing java code without J8 lambdas. If this is the case StackMapFrames would probably be a very good idea.

On the other hand, I think the special-casing Python primitive types would be more interesting wor

[2018-03-22 05:49] heyjessi opened #774 "[GSoC] Completing the Implementation of Builtin Data Types Bool, Tuple, Set, and String"
# Summary of Goals

This summer, I hope to support the implementation for several builtin data types which I'll be able to work on until the VOC version conforms to the CPython Library. This includes, but is not limited to
- Booleans
- Tuples
- Sets
- Strings

# Project Description

I am interested in working with VOC: Python on the JVM Project. Specifically, I want to engage in a couple of the pr

[2018-03-22 08:45] freakboy3742 commented on #774
This is a really solid first draft - nice work!

The end goal of "fully compliant string, bool, tuple and set" definitely strikes me as something that is achievable; however, I think you may need to do a little more digging into how much effort is involved in some of the missing methods.

You've given great detail of the "r" methods; however, have you dug into exactly what needs to be done to impl

[2018-03-22 08:48] freakboy3742 commented on #772
Combining Java6 and Java8 classes in a single executable *shouldn't* be a problem... but those are always famous last words :-) And, we don't know what is going to be added in Java9 that might cause compatibility problems with Java6. Pinning ourselves to a known-deprecated format isn't a good idea in general.

Honestly, either StackMapFrames or trying to make better use of primitives would be a vi

[2018-03-23 17:18] patiences commented on #772
@freakboy3742 Thanks for all the insights! :-)

I've updated my proposal to address your comment about getting the benchmarking down in the first week. I've also replaced the work on implementing StackMapFrames with the primitives types optimizations we've chatted about in the comments here, as it is more interesting work for me and will likely have a huge performance impact. I've also added an ex

[2018-03-23 18:23] akadidas commented on #627
ping @eliasdorneles

[2018-03-24 04:17] freakboy3742 commented on #772
This is looking pretty good - certainly good enough to submit as a final proposal.

[2018-03-25 18:35] heyjessi commented on #774
Hi @freakboy3742!

Thank you so much for the feedback. I've had a chance to research the functions I'm interested in implementing over the past couple of days including ```encode``` and ```format```. I realize that these will take longer and require me to have a solid understanding of their frameworks and the applications of the methods as well as their exception cases. I've updated my project des

[2018-03-25 22:59] freakboy3742 commented on #774
@heyjessi This looks a lot better. There are still a couple of minor problems (for example, "dir" isn't a type-specific method you'll have to implement - it's a part of the core data model); but otherwise, this is probably ready for final submission.

[2018-03-27 09:00] evalevanto commented on #74
I definitely want to help. Checking the guide :)

[2018-03-27 15:27] lukaszarczynski opened #775 "GSoC: dict improvements and implementation of math module"
# Project idea
## math
I would like to implement math module as my GSoC assignment. According to [https://www.python.org/dev/peps/pep-0465/#but-isn-t-matrix-multiplication-a-pretty-niche-requirement](https://www.python.org/dev/peps/pep-0465/#but-isn-t-matrix-multiplication-a-pretty-niche-requirement), (it may be slightly inaccurate, but I think it’s good approximation), math is one of the most fre

[2018-04-02 14:51] amaarahj commented on #74
Hi @freakboy3742 I am Software Engineering student with a class assignment in which I have to contribute to an open source project. I am interested in contributing to VOC. I went through the tutorial and first timer guides. I have some experience with Python and Java.

I am looking to get started with some functions in the time.java library: gmtime(), localtime(), mktime() and strptime(). I am pla

[2018-04-03 00:39] freakboy3742 commented on #74
@amaarahj It's almost impossible for me to judge. I don't know you, your skills, or your experience level; as such, it's impossible for me to judge whether your estimates will be accurate.

However, the four methods you've proposed are reasonably standalone, and sound like a reasonable target for a short university assignment.

[2018-04-08 10:43] sjuk opened #779 "Tutorial 0 does not work on ubuntu 16.04"
I followed the tutorial leading to the following problem.
Main class can not be found.

$ java -classpath ../voc/dist/python-java-support.jar:. python.example
Fehler: Hauptklasse python.example konnte nicht gefunden oder geladen werden

Any idea what I'm doing wront?

Thank you in advance.

[2018-04-08 18:50] donkirkby commented on #779
I translate your error message as this:

So take a look in the `python` directory and see if there is an `example.class` file there.

What versions of Java, Python, and VOC are you using?

[2018-04-08 20:03] eliasdorneles commented on #779
Chances are that the path to the python-java-support.jar file is incorrect -- please double check that.

[2018-04-09 05:15] donkirkby commented on #779
If the `python-java-support.jar` file is missing, make sure you ran the `ant java` command from the installation instructions. I forgot that in one project.

[2018-04-09 18:01] sjuk commented on #779
The path is correct I tripple checked that. But after chatting on the pybee irc I decided to stop trying to develop crossplatform android/ios apps with beware (toga/voc/briefcase). At the moment it has not the mature state to be able using it productively. I will give kivy a second try. But thank you very much for any effort to help.

[2018-04-11 11:01] weijianghui opened #780 "I call the function in the Java environment have error"
I define a function in the python environment. The main body of the function is such as jsonObject = json.loads (person) return jsonObject["name"], and when I call the function in the Java environment, the following error occurs: name'loads'is not, what I need to do

[2018-04-12 02:50] guochenglai opened #781 "can not use json/math module"
**when i use math/json module i encountered the follow problems:**
# math module problems
### origine python code
[code]

### The Code I called
[code]
### Got the following exception
[code]

# json module problems
### origine python code
[code]

### The Code I called
[code]

### Got the following exception
[code]

**can anyone help me to resolve my problems !!!!**

[2018-04-12 08:11] guochenglai commented on #775
expectancy

[2018-04-12 10:59] freakboy3742 commented on #781
Unfortunately, VOC is currently only an implementation of the Python *language* - it doesn't include most of the Python standard library.

The list of modules that are explicitly supported can be found [here](https://github.com/pybee/voc/tree/master/python/common/python). It *should* also be possible to run any module whose code is 100% python (i.e., no C module is involved - both `json` and `math

[2018-04-12 10:59] #781 closed

[2018-04-13 02:54] guochenglai commented on #781
Are there any other product like `voc` that can be used directly in production environment ?

[2018-04-13 10:13] guochenglai commented on #781
@uranusjr  I have a calculation engine written in Java, but need to efficiently support the user to write Python scripts。I can not directly call python script in my java code。  This will start a process to execute this script, which is inefficient 。 so i need translate python code to java code 。

[2018-04-13 14:38] eliasdorneles commented on #781
@guochenglai you should probably check out Jython, if you haven't already.

[2018-04-15 02:03] donkirkby opened #783 "Property getter bound to the wrong function"
I found this problem while trying to run the Toga tutorial on Android with voc 0.1.5. Here's a minimal example to reproduce the problem:

    def foo_property(name):
        def getter(self):
            return 'Foo ' + name
        return property(getter)

    def bar_property(name):
        def getter(self):
            return 'Bar ' + name
        return property(getter)

    class Spam:

[2018-04-28 23:11] freakboy3742 commented on #774
Unfortunately, this project was not selected for the 2018 GSoC. Thanks for applying!

[2018-04-28 23:11] #774 closed

[2018-04-28 23:13] freakboy3742 commented on #763
This project was selected for the 2018 GSoC.

[2018-04-28 23:14] freakboy3742 commented on #772
This project was selected for the 2018 GSoC.

[2018-05-06 22:33] Aniket1998 commented on #38
Hi! First time open source contributor here, trying to work on the keys and values method for Dict

In Python, the dict.keys(), dict.values() and dict.items() return dictview objects that are actually of different classes (class dict_keys,class dict_values and class dict_items) respectively

Keeping that in mind, is it necessary for us to write code for a single DictView class that can handle all

[2018-05-07 14:47] freakboy3742 commented on #38
@Aniket1998 It doesn't *have* to be a single class; it just has to behave in a way consistent with Python. If three independent classes makes that easier, then that's fine.

[2018-05-11 03:41] BPYap commented on #763
## Week 1 Update ##
### Goal ###
Complete asyncio.coroutines implementations in voc [#788 Work in Progress]
### Relevant source codes ###
- [CoroutineType](https://github.com/python/cpython/blob/3.6/Lib/types.py)
- [Asyncio.coroutines](https://github.com/python/cpython/blob/3.6/Lib/asyncio/coroutines.py)
### Summary ###
**What's a coroutine in asyncio?**

A coroutine can be defined in 2 ways:
1.

[2018-05-14 05:43] tushartripathi1998 opened #790 "unable to run the converted java file"
I was able to make a basic 'hello world' python file, but the '.class' file, but I couldn't run that file.
Please help !

[2018-05-14 11:59] eliasdorneles commented on #790
What error are you getting?
Please make sure you followed all the instructions, and that the paths are correct.

[2018-05-14 13:10] eliasdorneles commented on #348
I think we can close this one already, the tool from #626 is running every time we do `ant java`.

[2018-05-14 13:10] #348 closed

[2018-05-14 14:19] eliasdorneles commented on #790
Make sure you have the correct directory structure as shown here: http://voc.readthedocs.io/en/latest/tutorial/tutorial-0.html#start-a-new-project

[2018-05-14 17:16] saptarshikar opened #797 "Tests failing for os.getcwd()"
Unit test for os.getcwd fails because the temp path generated from the java run and the temp path generated from the python run are different. Temp path generated from the python run includes a trailing /temp.

Example:

AssertionError: '/voc-dev/voc/tests/tmp72mr1ku2\n===end of test===\n' != '/voc-dev/voc/tests/tmp72mr1ku2/temp\n===end of test===\n'
E   - /voc-dev/voc/tests/tmp72mr1ku2
E   + /voc

[2018-05-14 18:36] debonzi commented on #36
I will try to implement test_zfill_arg_handling

[2018-05-14 19:42] jonkiparsky commented on #36
Greetings. Working on test_isprintable_surrogate_cases

[2018-05-15 20:35] eliasdorneles opened #815 "Try blocks with an yield statement cause the compiler to crash"
When attempting to compile this sample code with VOC:

[code]

.. we get the following error:

[code]

If we change the code by adding another statement after the finally block, like this:

[code]

Then the compiler doesn't break, but the finally block seems to not be executed.

[2018-05-16 01:27] jonkiparsky commented on #568
This seems to be up for grabs, so I'm going to see what I can do with it. If I don't make traction, I will come back and restore the "Up for grabs" tag.

[2018-05-16 15:08] eliasdorneles commented on #568
@jonkiparsky feel free to have a look around!
However, I was just checking and the specific case I reported seems that it was already implemented... Did you find anything?

[2018-05-17 13:37] #768 closed

[2018-05-17 13:54] BPYap commented on #763
## Week 2 Update ##
### Goal ###
Understands and implements exception related to asyncio [#817 Work in Progress]
### Relevant source codes ###
- [concurrent.futures._base.py](https://github.com/python/cpython/blob/3.6/Lib/concurrent/futures/_base.py)
- [asyncio.base_futures.py](https://github.com/python/cpython/blob/3.6/Lib/asyncio/base_futures.py)
- [asyncio.futures.py](https://github.com/python/

[2018-05-17 15:08] jonkiparsky commented on #36
PR open for test_is_printable_surrogate_cases: https://github.com/pybee/voc/pull/811

[2018-05-18 05:29] rockobonaparte commented on #763
I have what seems to be a particularly nasty example that is peddling some futures around in a custom event loop so I can iteratively tick through the coroutines. It's mimicking what I ultimately want to do embedding Python with Unity3d (with a .net transpiler) . In my situation, much of the code would be calling into .net Unity3d stuff, but I've approximated it in pure Python.

It imploded when I

[2018-05-20 19:48] jonkiparsky commented on #568
@eliasdorneles

Yep, looks good from here.

[code]

I suppose this issue can be closed?

[2018-05-20 22:40] eliasdorneles commented on #568
Yup, seems like it!
Closing it now, thanks for digging! :+1:

[2018-05-20 22:40] #568 closed

[2018-05-23 07:09] BPYap commented on #757
Hi @jonkiparsky , had confirmed the issue is fix, closing this issue now. Thanks!

[2018-05-23 07:09] #757 closed

[2018-05-24 18:35] irishabha commented on #783
@eliasdorneles I want to kill this bug, I know python. But I am Super-beginner in contributing to open-source. Currently, i have started to loving open-source.
so now i have came across this issue now what next how to reach it inside the code? how to remove it ?

[2018-05-25 05:13] donkirkby opened #822 "String literal limited to 64Kb"
This is probably abuse of string literals, but the following code works in cPython:

    def generate_code():
        print('big_string = """\\')
        for i in range(65536//64):
            s = (str(i)+'_') * 32
            print(s[:63])
        print('"""')

    big_string = """\
    0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0
    1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1

[2018-05-26 04:33] BPYap commented on #763
Hi @rockobonaparte , I'm currently working on bringing in features specified in PEP 342 and PEP 380 to voc and it will take a while before I start event loop implementation. However, I’d be interested to know your approach. If you don't mind, could you explain it in higher level of details on how you are embedding Python coroutines with .net Unity3d?

Sorry for late reply, as I check in here once

[2018-05-27 08:57] patiences commented on #772
Week 2 finished! I've been working on:

1. Small integer and boolean pre-allocation. Code [here](https://github.com/patiences/voc/tree/smallint-preallocation) and [here](https://github.com/patiences/voc/tree/boolean-preallocation). I am currently investigating the effect on in-place operations, once that is fixed, should be ready for PR.

2. Performance benchmarking test suite, code [here](https:/